<script setup lang="ts">
import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useToastService } from '@/services/toast.service';
import { useCartStore } from '@/stores/cart';
import { useMoneyStore } from '@/stores/money';
import { useShippingStore } from '@/stores/shipping';
import { paymentService } from '@/services/payment.service';
import ShippingSelector from '@/components/shipping/ShippingSelector.vue';

const router = useRouter();
const toast = useToastService();
const cartStore = useCartStore();
const moneyStore = useMoneyStore();
const shippingStore = useShippingStore();

const isLoading = ref(false);

// Vérifier si le panier est vide
const isCartEmpty = computed(() => cartStore.cart.length === 0);

// Rediriger vers Stripe Checkout
const proceedToPayment = async () => {
    if (isCartEmpty.value) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Votre panier est vide',
            life: 3000
        });
        router.push('/cart');
        return;
    }

    if (!shippingStore.selectedOption) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Veuillez sélectionner un mode de livraison',
            life: 3000
        });
        return;
    }

    try {
        isLoading.value = true;

        // Créer une session de paiement Stripe
        // Le backend récupère le panier de l'utilisateur depuis la base de données
        const checkoutUrl = await paymentService.createCheckoutSession();

        // Rediriger vers Stripe Checkout
        window.location.href = checkoutUrl;
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.message || 'Impossible de procéder au paiement',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};
</script>

<template>
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-2xl font-bold mb-6">Paiement</h1>

            <div v-if="isLoading" class="flex justify-center my-8">
                <ProgressSpinner />
            </div>

            <div v-else>
                <!-- Sélection de la livraison -->
                <div class="mb-6">
                    <h2 class="text-xl font-semibold mb-4">Mode de livraison</h2>
                    <ShippingSelector />
                </div>

                <!-- Résumé de la commande -->
                <h2 class="text-xl font-semibold mb-4">Résumé de la commande</h2>
                <div class="bg-zinc-0 dark:bg-zinc-900 rounded-lg shadow-md p-6 mb-6">

                    <!-- Liste des articles -->
                    <div class="mb-6">
                        <div v-for="item in cartStore.cart" :key="item.id" class="flex justify-between py-2 border-b">
                            <div>
                                <span class="font-medium">{{ item.name }}</span>
                                <span class="text-sm text-gray-500 ml-2">x{{ item.quantity }}</span>
                            </div>
                            <span>{{ moneyStore.formatPrice(item.price * item.quantity) }}</span>
                        </div>
                    </div>

                    <!-- Total -->
                    <div class="flex justify-between items-center text-sm mt-2">
                        <span>Sous total HT</span>
                        <span>{{ moneyStore.formatPrice(cartStore.subtotalPrice) }}</span>
                    </div>
                    <div class="flex justify-between items-center text-sm text-gray-500 mt-2">
                        <span>Taxe</span>
                        <span>{{ moneyStore.formatPrice(cartStore.taxAmount) }}</span>
                    </div>
                    <div class="flex justify-between items-center text-sm text-gray-500 mt-2 border-b pb-4">
                        <span>Livraison : {{ shippingStore.selectedOption?.name }}</span>
                        <span>{{ moneyStore.formatPrice(shippingStore.shippingCost) }}</span>
                    </div>
                    <div class="flex justify-between items-center text-sm mt-2">
                        <span>Total TTC (hors livraison)</span>
                        <span>{{ moneyStore.formatPrice(cartStore.totalPrice) }}</span>
                    </div>
                    <div class="flex justify-between items-center text-lg mt-2">
                        <span>Total TTC</span>
                        <span>{{ moneyStore.formatPrice(cartStore.totalPrice + shippingStore.shippingCost) }}</span>
                    </div>
                </div>

                <!-- Bouton de paiement -->
                <div class="text-center">
                    <Button label="Procéder au paiement" icon="pi pi-credit-card" @click="proceedToPayment"
                        :loading="isLoading" :disabled="isLoading || isCartEmpty || !shippingStore.selectedOption"
                        class="w-full md:w-auto" />
                    <p v-if="!shippingStore.selectedOption" class="text-sm text-red-500 mt-2">
                        Veuillez sélectionner un mode de livraison pour continuer
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-button) {
    min-width: 200px;
}
</style>