<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useToastService } from '@/services/toast.service';
import { paymentService } from '@/services/payment.service';
import { useCartStore } from '@/stores/cart';

const route = useRoute();
const router = useRouter();
const toast = useToastService();
const cartStore = useCartStore();

const isLoading = ref(true);
const orderReference = ref('');

onMounted(async () => {
    const sessionId = route.query.session_id as string;

    if (!sessionId) {
        router.push('/cart');
        return;
    }

    try {
        // Vérifier le statut du paiement
        const result = await paymentService.verifyPaymentSession(sessionId);
        orderReference.value = result.order_reference;

        // Vider le panier
        cartStore.clearCart();

        toast.add({
            severity: 'success',
            summary: 'Paiement réussi',
            detail: 'Votre commande a été confirmée',
            life: 5000
        });
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.message || 'Une erreur est survenue lors de la vérification du paiement',
            life: 5000
        });
        router.push('/cart');
    } finally {
        isLoading.value = false;
    }
});
</script>

<template>
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-2xl mx-auto">
            <div v-if="isLoading" class="flex justify-center py-12">
                <ProgressSpinner />
            </div>

            <div v-else class="bg-white rounded-lg shadow-lg p-8 text-center">
                <div class="mb-6">
                    <i class="pi pi-check-circle text-6xl text-green-500"></i>
                </div>

                <h1 class="text-2xl font-bold mb-4">Paiement confirmé !</h1>

                <p class="text-gray-600 mb-6">
                    Merci pour votre commande. Votre paiement a été traité avec succès.
                    <br>
                    Votre numéro de commande est : <span class="font-semibold">{{ orderReference }}</span>
                </p>

                <div class="flex flex-col gap-4 sm:flex-row sm:justify-center">
                    <Button label="Voir ma commande" icon="pi pi-eye"
                        @click="router.push({ name: 'order-details', params: { orderId: orderReference } })" />

                    <Button label="Retour à la boutique" icon="pi pi-shopping-cart"
                        @click="router.push({ name: 'shop' })" outlined />
                </div>

                <div class="mt-8 text-sm text-gray-500">
                    Un email de confirmation vous a été envoyé avec les détails de votre commande.
                </div>
            </div>
        </div>
    </div>
</template>