<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();
</script>

<template>
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-2xl mx-auto">
            <div class="bg-white rounded-lg shadow-lg p-8 text-center">
                <div class="mb-6">
                    <i class="pi pi-times-circle text-6xl text-red-500"></i>
                </div>

                <h1 class="text-2xl font-bold mb-4">Paiement annulé</h1>

                <p class="text-gray-600 mb-6">
                    Vous avez annulé votre paiement. Aucun montant n'a été débité de votre compte.
                    <br>
                    Vous pouvez retourner à votre panier pour finaliser votre commande.
                </p>

                <div class="flex flex-col gap-4 sm:flex-row sm:justify-center">
                    <Button label="Retour au panier" icon="pi pi-shopping-cart"
                        @click="router.push({ name: 'cart' })" />

                    <Button label="Continuer les achats" icon="pi pi-shopping-bag"
                        @click="router.push({ name: 'shop' })" outlined />
                </div>
            </div>
        </div>
    </div>
</template>