<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Navbar from './components/navigations/Navbar.vue'
</script>

<template>
  <div class="flex flex-col min-h-screen">
    <header class="sticky top-0 z-[1000] bg-white dark:bg-zinc-900/98">
      <div class="container mx-auto">
        <Navbar />
      </div>
    </header>

    <main class="flex-grow container mx-auto my-2 flex">
      <RouterView />
    </main>

    <footer class="container mx-auto">
    </footer>
  </div>
  <Toast />
</template>

<style>
.flex-grow {
  flex: 1 1 auto;
}
</style>
