<script setup lang="ts">
import { ref, reactive, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useToastService } from '@/services/toast.service';
import { authService } from '@/services/auth.service';
import api from '@/plugins/axios';

const router = useRouter();
const toast = useToastService();
const isLoading = ref(false);
const showConfirmDialog = ref(false);

const deleteData = reactive({
    password: '',
    confirmation: ''
});

const passwordError = computed(() => {
    if (!deleteData.password) return 'Le mot de passe est requis';
    return '';
});

const confirmationError = computed(() => {
    if (!deleteData.confirmation) return 'Veuillez saisir la phrase de confirmation';
    if (deleteData.confirmation !== 'SUPPRIMER MON COMPTE') {
        return 'La phrase de confirmation ne correspond pas';
    }
    return '';
});

// Préparer la suppression du compte
const prepareDeleteAccount = () => {
    deleteData.password = '';
    deleteData.confirmation = '';
    showConfirmDialog.value = true;
};

// Confirmer la suppression du compte
const confirmDeleteAccount = async () => {
    if (passwordError.value || confirmationError.value) {
        return;
    }

    try {
        isLoading.value = true;
        await api.post('/user/delete-account', { password: deleteData.password });

        // Déconnecter l'utilisateur
        authService.logout();

        toast.add({
            severity: 'success',
            summary: 'Compte supprimé',
            detail: 'Votre compte a été supprimé avec succès',
            life: 5000
        });

        // Rediriger vers la page d'accueil
        router.push({ name: 'home' });
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.response?.data?.message || 'Impossible de supprimer votre compte',
            life: 3000
        });
    } finally {
        isLoading.value = false;
        showConfirmDialog.value = false;
    }
};
</script>

<template>
    <div class="flex flex-col items-center">
        <div class="max-w-md w-full">
            <div class="bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 rounded-lg p-6 mb-6">
                <div class="flex items-center mb-4">
                    <i class="pi pi-exclamation-triangle text-red-500 text-2xl mr-3"></i>
                    <h3 class="text-lg font-medium text-red-700 dark:text-red-400">Zone dangereuse</h3>
                </div>

                <p class="mb-4 text-red-600 dark:text-red-300">
                    La suppression de votre compte est une action permanente et irréversible.
                    Toutes vos données personnelles, commandes et préférences seront définitivement supprimées.
                </p>

                <div class="mb-4">
                    <h4 class="font-medium mb-2 text-red-700 dark:text-red-400">Conséquences de la suppression :</h4>
                    <ul class="list-disc pl-5 space-y-1 text-red-600 dark:text-red-300">
                        <li>Perte de l'accès à votre historique de commandes</li>
                        <li>Suppression de vos adresses enregistrées</li>
                        <li>Suppression de vos informations de paiement</li>
                        <li>Impossibilité de récupérer votre compte</li>
                    </ul>
                </div>

                <div class="flex justify-end">
                    <Button severity="danger" @click="prepareDeleteAccount">
                        Supprimer mon compte
                    </Button>
                </div>
            </div>

            <div
                class="bg-surface-50 dark:bg-surface-900 p-4 rounded-lg border border-surface-200 dark:border-surface-700">
                <h4 class="font-medium mb-2">Alternatives à la suppression</h4>
                <p class="mb-3 text-sm">
                    Si vous rencontrez des problèmes avec notre service, nous vous invitons à contacter notre
                    équipe de support avant de prendre la décision de supprimer votre compte.
                </p>
                <Button label="Contacter le support" icon="pi pi-envelope" severity="secondary" text />
            </div>
        </div>
    </div>

    <!-- Dialog de confirmation pour la suppression du compte -->
    <Dialog v-model:visible="showConfirmDialog" modal header="Confirmer la suppression du compte"
        :style="{ width: '500px' }" :closable="!isLoading">
        <div class="p-4">
            <p class="mb-4 font-medium text-red-600 dark:text-red-400">
                Cette action est irréversible. Votre compte et toutes vos données seront définitivement supprimés.
            </p>

            <div class="mb-4">
                <label for="delete_password" class="block text-sm font-medium mb-1">Votre mot de passe</label>
                <Password id="delete_password" v-model="deleteData.password" toggleMask :feedback="false"
                    :class="{ 'p-invalid': passwordError }" inputClass="w-full" />
                <small v-if="passwordError" class="text-red-500 block">
                    {{ passwordError }}
                </small>
            </div>

            <div class="mb-4">
                <label for="delete_confirmation" class="block text-sm font-medium mb-1">
                    Pour confirmer, tapez "SUPPRIMER MON COMPTE" en majuscules
                </label>
                <InputText id="delete_confirmation" v-model="deleteData.confirmation as string" class="w-full"
                    :class="{ 'p-invalid': confirmationError }" />
                <small v-if="confirmationError" class="text-red-500 block">
                    {{ confirmationError }}
                </small>
            </div>
        </div>

        <template #footer>
            <Button label="Annuler" icon="pi pi-times" @click="showConfirmDialog = false" text :disabled="isLoading" />
            <Button label="Supprimer définitivement" icon="pi pi-trash" severity="danger" @click="confirmDeleteAccount"
                :loading="isLoading" :disabled="!!passwordError || !!confirmationError || isLoading" />
        </template>
    </Dialog>
</template>

<style scoped>
:deep(.p-password) {
    width: 100%;
}

:deep(.p-password-input) {
    width: 100%;
}

:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}
</style>