<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useToastService } from '@/services/toast.service';
import api from '@/plugins/axios';

const toast = useToastService();
const isLoading = ref(false);
const devices = ref([]);
const confirmDialog = ref(false);
const selectedDevice = ref(null);

// Charger la liste des appareils connectés
const loadDevices = async () => {
    try {
        isLoading.value = true;
        const response = await api.get('/user/devices');
        devices.value = response.data.devices;
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de récupérer la liste des appareils',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Formater la date de dernière connexion
const formatLastActive = (date: string) => {
    if (!date) return 'Inconnue';
    const lastActive = new Date(date);
    return new Intl.DateTimeFormat('fr-FR', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit'
    }).format(lastActive);
};

// Préparer la déconnexion d'un appareil
const prepareLogout = (device: any) => {
    selectedDevice.value = device;
    confirmDialog.value = true;
};

// Déconnecter un appareil
const logoutDevice = async () => {
    if (!selectedDevice.value) return;

    try {
        isLoading.value = true;
        await api.post(`/user/devices/${selectedDevice.value.id}/logout`);

        // Mettre à jour la liste des appareils
        devices.value = devices.value.filter((d: any) => d.id !== selectedDevice.value.id);

        toast.add({
            severity: 'success',
            summary: 'Succès',
            detail: 'Appareil déconnecté avec succès',
            life: 3000
        });

        confirmDialog.value = false;
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.response?.data?.message || 'Impossible de déconnecter l\'appareil',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Déconnecter tous les autres appareils
const logoutAllDevices = async () => {
    try {
        isLoading.value = true;
        await api.post('/user/devices/logout-all');

        // Conserver uniquement l'appareil actuel
        devices.value = devices.value.filter((device: any) => device.is_current_device);

        toast.add({
            severity: 'success',
            summary: 'Succès',
            detail: 'Tous les autres appareils ont été déconnectés',
            life: 3000
        });
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.response?.data?.message || 'Impossible de déconnecter les appareils',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Déterminer l'icône de l'appareil en fonction de son type
const getDeviceIcon = (device: any) => {
    const userAgent = device.user_agent?.toLowerCase() || '';

    if (userAgent.includes('iphone') || userAgent.includes('ipad')) {
        return 'pi pi-apple';
    } else if (userAgent.includes('android')) {
        return 'pi pi-android';
    } else if (userAgent.includes('windows')) {
        return 'pi pi-microsoft';
    } else if (userAgent.includes('mac')) {
        return 'pi pi-desktop';
    } else {
        return 'pi pi-mobile';
    }
};

onMounted(() => {
    loadDevices();
});
</script>

<template>
    <div>
        <div v-if="isLoading && devices.length === 0" class="flex justify-center my-4">
            <ProgressSpinner />
        </div>

        <div v-else>
            <div class="mb-4 flex justify-between items-center">
                <h3 class="text-lg font-medium">Appareils connectés à votre compte</h3>
                <Button label="Déconnecter tous les autres appareils" icon="pi pi-sign-out" severity="danger"
                    @click="logoutAllDevices" :loading="isLoading" :disabled="isLoading || devices.length <= 1" />
            </div>

            <div v-if="devices.length === 0" class="p-4 text-center">
                <i class="pi pi-mobile text-4xl text-gray-400 mb-2"></i>
                <p class="text-gray-500">Aucun appareil connecté</p>
            </div>

            <div v-else class="grid grid-cols-1 gap-4">
                <Card v-for="device in devices" :key="device.id" class="mb-4"
                    :class="{ 'border-primary-500 border-2': device.is_current_device }">
                    <template #header v-if="device.is_current_device">
                        <div
                            class="bg-primary-100 dark:bg-primary-900 text-primary-700 dark:text-primary-300 p-2 text-center text-sm">
                            Appareil actuel
                        </div>
                    </template>
                    <template #content>
                        <div class="flex items-start gap-4">
                            <div
                                class="flex-shrink-0 w-10 h-10 flex items-center justify-center bg-surface-100 dark:bg-surface-700 rounded-full">
                                <i :class="[getDeviceIcon(device), 'text-xl']"></i>
                            </div>
                            <div class="flex-grow">
                                <div class="flex justify-between items-start">
                                    <div>
                                        <h4 class="font-medium">{{ device.browser || 'Navigateur inconnu' }}</h4>
                                        <p class="text-sm text-gray-500">{{ device.platform || 'Plateforme inconnue' }}
                                        </p>
                                    </div>
                                    <Button v-if="!device.is_current_device" icon="pi pi-sign-out" severity="danger"
                                        text @click="prepareLogout(device)" :disabled="isLoading" />
                                </div>
                                <div class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-2 text-sm">
                                    <div>
                                        <span class="text-gray-500">Dernière activité:</span>
                                        <span class="ml-1">{{ formatLastActive(device.last_active) }}</span>
                                    </div>
                                    <div>
                                        <span class="text-gray-500">Adresse IP:</span>
                                        <span class="ml-1">{{ device.ip_address || 'Inconnue' }}</span>
                                    </div>
                                    <div>
                                        <span class="text-gray-500">Localisation:</span>
                                        <span class="ml-1">{{ device.location || 'Inconnue' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </Card>
            </div>
        </div>

        <!-- Dialog de confirmation pour déconnecter un appareil -->
        <Dialog v-model:visible="confirmDialog" modal header="Déconnecter l'appareil" :style="{ width: '450px' }"
            :closable="!isLoading">
            <div class="p-4">
                <p>Êtes-vous sûr de vouloir déconnecter cet appareil ?</p>
                <p class="text-sm text-gray-500 mt-2">
                    Cette action mettra fin à la session active sur cet appareil.
                </p>
            </div>
            <template #footer>
                <Button label="Annuler" icon="pi pi-times" @click="confirmDialog = false" text :disabled="isLoading" />
                <Button label="Déconnecter" icon="pi pi-sign-out" severity="danger" @click="logoutDevice"
                    :loading="isLoading" :disabled="isLoading" />
            </template>
        </Dialog>
    </div>
</template>

<style scoped>
:deep(.p-card-content) {
    padding: 1rem;
}
</style>