<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useToastService } from '@/services/toast.service';
import api from '@/plugins/axios';
import type { Order } from '@/models/order.model';

const router = useRouter();
const toast = useToastService();
const isLoading = ref(false);
const orders = ref<Order[]>([]);

// Charger la liste des commandes
const loadOrders = async () => {
    try {
        isLoading.value = true;
        const response = await api.get<{ orders: Order[] }>('/user/orders');
        orders.value = response.data.orders || [];
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de récupérer vos commandes',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Formater la date
const formatDate = (dateString: string) => {
    if (!dateString) return 'N/A';
    const date = new Date(dateString);
    return new Intl.DateTimeFormat('fr-FR', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric'
    }).format(date);
};

// Formater le prix
const formatPrice = (price: number) => {
    return new Intl.NumberFormat('fr-FR', {
        style: 'currency',
        currency: 'EUR'
    }).format(price);
};

// Obtenir la classe de statut
const getStatusClass = (status: string) => {
    const statusClasses = {
        'pending': 'bg-yellow-100 text-yellow-800 dark:bg-yellow-900/20 dark:text-yellow-300',
        'processing': 'bg-blue-100 text-blue-800 dark:bg-blue-900/20 dark:text-blue-300',
        'shipped': 'bg-purple-100 text-purple-800 dark:bg-purple-900/20 dark:text-purple-300',
        'delivered': 'bg-green-100 text-green-800 dark:bg-green-900/20 dark:text-green-300',
        'cancelled': 'bg-red-100 text-red-800 dark:bg-red-900/20 dark:text-red-300',
        'refunded': 'bg-gray-100 text-gray-800 dark:bg-gray-900/20 dark:text-gray-300'
    };

    return statusClasses[status as keyof typeof statusClasses] || 'bg-gray-100 text-gray-800';
};

// Traduire le statut
const translateStatus = (status: string) => {
    const statusTranslations = {
        'pending': 'En attente',
        'processing': 'En traitement',
        'shipped': 'Expédiée',
        'delivered': 'Livrée',
        'cancelled': 'Annulée',
        'refunded': 'Remboursée'
    };

    return statusTranslations[status as keyof typeof statusTranslations] || status;
};

// Voir le détail d'une commande
const viewOrderDetails = (orderId: number) => {
    router.push({ name: 'order-details', params: { orderId: orderId.toString() } });
};

// Télécharger la facture
const downloadInvoice = async (orderId: number) => {
    try {
        const response = await api.get(`/invoices/${orderId.toString()}/download`, { responseType: 'blob' });
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', `facture-${orderId}.pdf`);
        document.body.appendChild(link);
        link.click();
        window.URL.revokeObjectURL(url);
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de télécharger la facture',
            life: 3000
        });
    }
};

onMounted(() => {
    loadOrders();
});
</script>

<template>
    <div>
        <div v-if="isLoading" class="flex justify-center my-4">
            <ProgressSpinner />
        </div>

        <div v-else-if="orders.length === 0" class="flex flex-col items-center justify-center py-8">
            <i class="pi pi-shopping-bag text-5xl text-gray-300 mb-4"></i>
            <p class="text-xl text-gray-500 mb-2">Vous n'avez pas encore de commandes</p>
            <p class="text-gray-400 mb-4">Vos commandes apparaîtront ici une fois que vous aurez effectué un achat</p>
            <Button label="Découvrir nos produits" icon="pi pi-shopping-cart" @click="router.push({ name: 'shop' })" />
        </div>

        <div v-else>
            <div class="mb-4 flex justify-between items-center">
                <h3 class="text-lg font-medium">Historique de vos commandes</h3>
                <Button icon="pi pi-refresh" text @click="loadOrders" :loading="isLoading" :disabled="isLoading" />
            </div>

            <div class="grid grid-cols-1 gap-4">
                <Card v-for="order in orders" :key="order.id" class="mb-4">
                    <template #header>
                        <div class="flex justify-between items-center p-3 bg-surface-50 dark:bg-surface-800">
                            <div class="flex items-center gap-2">
                                <span class="font-medium">Commande #{{ order.reference }}</span>
                                <Tag :class="getStatusClass(order.status)" :value="translateStatus(order.status)" />
                            </div>
                            <span class="text-sm text-gray-500">{{ formatDate(order.created_at) }}</span>
                        </div>
                    </template>
                    <template #content>
                        <div class="p-3">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
                                <div>
                                    <div class="text-sm text-gray-500 mb-1">Total</div>
                                    <div class="font-medium">{{ formatPrice(order.total) }}</div>
                                </div>
                                <div>
                                    <div class="text-sm text-gray-500 mb-1">Articles</div>
                                    <div class="font-medium">{{ order.items_count || 'N/A' }}</div>
                                </div>
                                <div>
                                    <div class="text-sm text-gray-500 mb-1">Méthode de paiement</div>
                                    <div class="font-medium">{{ order.payment_method || 'N/A' }}</div>
                                </div>
                            </div>

                            <div class="flex flex-wrap gap-2 justify-end">
                                <Button icon="pi pi-file-pdf" label="Facture" text @click="downloadInvoice(order.id)" />
                                <Button icon="pi pi-eye" label="Détails" @click="viewOrderDetails(order.id)" />
                            </div>
                        </div>
                    </template>
                </Card>
            </div>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-card-content) {
    padding: 0;
}
</style>