<script setup lang="ts">
import { ref, reactive, computed } from 'vue';
import { useToastService } from '@/services/toast.service';
import api from '@/plugins/axios';
import PasswordInput from '@/components/PasswordInput.vue';

interface PasswordValidationResult {
    isValid: boolean;
    errors: string[];
}

const toast = useToastService();
const isLoading = ref(false);
const successMessage = ref('');
const errorMessage = ref('');

// Mot de passe
const passwordData = reactive({
    current_password: '',
    new_password: '',
    new_password_confirmation: ''
});

// Validation du mot de passe
const currentPasswordError = computed(() => {
    if (!passwordData.current_password) return 'Le mot de passe actuel est requis';
    return '';
});

const newPasswordError = computed(() => {
    if (!passwordData.new_password) return 'Le nouveau mot de passe est requis';
    return '';
});

const confirmPasswordError = computed(() => {
    if (!passwordData.new_password_confirmation) return 'La confirmation du mot de passe est requise';
    if (passwordData.new_password_confirmation !== passwordData.new_password)
        return 'Les mots de passe ne correspondent pas';
    return '';
});

const passwordValidation = reactive({
    isValid: false,
    errors: [] as string[]
});

const isPasswordFormValid = computed(() => {
    return !currentPasswordError.value &&
        !newPasswordError.value &&
        !confirmPasswordError.value &&
        passwordValidation.isValid;
});

// Gestion de la validation du mot de passe
const handlePasswordValidation = (validation: PasswordValidationResult) => {
    passwordValidation.isValid = validation.isValid;
    passwordValidation.errors = validation.errors;
};

const updatePassword = async () => {
    try {
        if (!isPasswordFormValid.value) {
            return;
        }

        isLoading.value = true;
        errorMessage.value = '';
        successMessage.value = '';

        await api.put('/user/password', passwordData);

        // Réinitialiser le formulaire
        passwordData.current_password = '';
        passwordData.new_password = '';
        passwordData.new_password_confirmation = '';
        passwordValidation.errors = [];

        successMessage.value = 'Mot de passe mis à jour avec succès';
        toast.add({ severity: 'success', summary: 'Succès', detail: 'Mot de passe mis à jour avec succès', life: 3000 });
    } catch (error: any) {
        errorMessage.value = error.response?.data?.message || 'Erreur lors de la mise à jour du mot de passe';
        toast.add({ severity: 'error', summary: 'Erreur', detail: errorMessage.value, life: 3000 });
    } finally {
        isLoading.value = false;
    }
};
</script>

<template>
    <div class="flex flex-col items-center">
        <div class="max-w-md w-full">
            <Message v-if="successMessage" severity="success" class="mb-4">
                {{ successMessage }}
            </Message>

            <Message v-if="errorMessage" severity="error" class="mb-4">
                {{ errorMessage }}
            </Message>

            <p class="mb-4 leading-8 text-sm font-normal italic text-gray-500 text-balance">
                Vous pouvez modifier votre mot de passe ici.
                Veuillez entrer votre mot de passe actuel, votre nouveau mot de passe et
                confirmer votre nouveau mot de passe.
                Le mot de passe doit contenir au moins 12 caractères, une majuscule, une
                minuscule et un chiffre.
            </p>

            <form @submit.prevent="updatePassword" class="w-full">
                <div class="flex flex-col gap-4">
                    <div>
                        <label for="current_password" class="block text-sm font-medium mb-1">Mot de passe actuel</label>
                        <div class="mb-1">
                            <Password id="current_password" v-model="passwordData.current_password" toggleMask
                                :feedback="false" placeholder="Mot de passe actuel"
                                :class="{ 'p-invalid': currentPasswordError }" inputClass="w-full" />
                        </div>
                        <small v-if="currentPasswordError" class="text-red-500 block">
                            {{ currentPasswordError }}
                        </small>
                    </div>

                    <div>
                        <label for="new_password" class="block text-sm font-medium mb-1">Nouveau mot de passe</label>
                        <PasswordInput id="new_password" v-model="passwordData.new_password"
                            placeholder="Nouveau mot de passe" required @validation-change="handlePasswordValidation" />
                    </div>

                    <div>
                        <label for="new_password_confirmation" class="block text-sm font-medium mb-1">Confirmer le mot
                            de passe</label>
                        <div class="mb-1">
                            <Password id="new_password_confirmation" v-model="passwordData.new_password_confirmation"
                                placeholder="Confirmer le nouveau mot de passe" toggleMask :feedback="false"
                                :class="{ 'p-invalid': confirmPasswordError }" inputClass="w-full" />
                        </div>
                        <small v-if="confirmPasswordError" class="text-red-500 block">
                            {{ confirmPasswordError }}
                        </small>
                    </div>

                    <div class="flex justify-end mt-2">
                        <Button type="submit" :loading="isLoading" :disabled="!isPasswordFormValid || isLoading">
                            Mettre à jour le mot de passe
                        </Button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}

:deep(.p-password) {
    width: 100%;
}

:deep(.p-password-input) {
    width: 100%;
}
</style>