<script setup lang="ts">
import { ref, reactive, onMounted, computed } from 'vue';
import api from '@/plugins/axios';
import { authService } from '@/services/auth.service';
import { useToastService } from '@/services/toast.service';

const toast = useToastService();
const isLoading = ref(false);
const successMessage = ref('');
const errorMessage = ref('');

const profileData = reactive({
    firstname: '',
    lastname: '',
    email: ''
});

// Validation
const firstnameError = computed(() => {
    if (!profileData.firstname) return 'Le prénom est requis';
    return '';
});

const lastnameError = computed(() => {
    if (!profileData.lastname) return 'Le nom est requis';
    return '';
});

const emailError = computed(() => {
    if (!profileData.email) return 'L\'email est requis';
    if (!/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(profileData.email))
        return 'L\'email doit être valide';
    return '';
});

const isFormValid = computed(() => {
    return !firstnameError.value && !lastnameError.value && !emailError.value;
});

onMounted(async () => {
    try {
        isLoading.value = true;

        // Récupérer les données de l'utilisateur
        const user = authService.getUser();

        if (!user) {
            const response = await api.get('/user');
            Object.assign(profileData, response.data);
        } else {
            profileData.firstname = user.firstname;
            profileData.lastname = user.lastname;
            profileData.email = user.email;
        }
    } catch (error: any) {
        errorMessage.value = 'Erreur lors du chargement du profil';
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de charger les informations du profil',
            life: 3000
        });
        console.error('Erreur lors du chargement du profil', error);
    } finally {
        isLoading.value = false;
    }
});

const updateProfile = async () => {
    try {
        if (!isFormValid.value) {
            return;
        }

        isLoading.value = true;
        errorMessage.value = '';
        successMessage.value = '';

        // Mettre à jour le profil
        await api.put('/user/profile', {
            firstname: profileData.firstname,
            lastname: profileData.lastname
        });

        // Mettre à jour les données locales
        const user = authService.getUser();
        if (user) {
            user.firstname = profileData.firstname;
            user.lastname = profileData.lastname;
        }

        successMessage.value = 'Profil mis à jour avec succès';
        toast.add({
            severity: 'success',
            summary: 'Succès',
            detail: 'Profil mis à jour avec succès',
            life: 3000
        });
    } catch (error: any) {
        errorMessage.value = error.response?.data?.message || 'Erreur lors de la mise à jour du profil';
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: errorMessage.value,
            life: 3000
        });
        console.error('Erreur lors de la mise à jour du profil', error);
    } finally {
        isLoading.value = false;
    }
};
</script>

<template>
    <div class="flex flex-col items-center">
        <div class="max-w-md w-full">
            <Message v-if="successMessage" severity="success" class="mb-4">
                {{ successMessage }}
            </Message>

            <Message v-if="errorMessage" severity="error" class="mb-4">
                {{ errorMessage }}
            </Message>

            <div v-if="isLoading" class="flex justify-center my-4">
                <ProgressSpinner />
            </div>

            <form v-else @submit.prevent="updateProfile" class="w-full">
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <label for="firstname" class="block text-sm font-medium mb-1">Prénom</label>
                        <InputText id="firstname" v-model="profileData.firstname"
                            :class="{ 'p-invalid': firstnameError }" placeholder="Prénom" class="w-full" />
                        <small v-if="firstnameError" class="text-red-500 block">
                            {{ firstnameError }}
                        </small>
                    </div>

                    <div>
                        <label for="lastname" class="block text-sm font-medium mb-1">Nom</label>
                        <InputText id="lastname" v-model="profileData.lastname" :class="{ 'p-invalid': lastnameError }"
                            placeholder="Nom" class="w-full" />
                        <small v-if="lastnameError" class="text-red-500 block">
                            {{ lastnameError }}
                        </small>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-medium mb-1">Email</label>
                        <InputText id="email" v-model="profileData.email" type="email"
                            :class="{ 'p-invalid': emailError }" disabled placeholder="Email" class="w-full" />
                        <small v-if="emailError" class="text-red-500 block">
                            {{ emailError }}
                        </small>
                        <small class="text-gray-500 block mt-1">
                            L'adresse email ne peut pas être modifiée.
                        </small>
                    </div>
                </div>

                <div class="flex justify-end mt-6">
                    <Button type="submit" :loading="isLoading" :disabled="!isFormValid || isLoading">
                        Mettre à jour le profil
                    </Button>
                </div>
            </form>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}
</style>