<script setup lang="ts">
import { ref, reactive, onMounted, computed } from 'vue';
import { useToastService } from '@/services/toast.service';
import api from '@/plugins/axios';

const toast = useToastService();
const isLoading = ref(false);
const twoFactorEnabled = ref(false);
const showQrCodeDialog = ref(false);
const showDisableTwoFactorDialog = ref(false);
const qrCodeUrl = ref('');
const secretKey = ref('');
const verificationCode = ref('');

const verificationCodeError = computed(() => {
    if (!verificationCode.value) return 'Le code est requis';
    if (verificationCode.value.length !== 6) return 'Le code doit contenir 6 chiffres';
    return '';
});

const disableTwoFactorData = reactive({
    password: '',
    code: ''
});

const disablePasswordError = computed(() => {
    if (!disableTwoFactorData.password) return 'Le mot de passe est requis';
    return '';
});

const disableCodeError = computed(() => {
    if (!disableTwoFactorData.code) return 'Le code est requis';
    if (disableTwoFactorData.code.length !== 6) return 'Le code doit contenir 6 chiffres';
    return '';
});

// Charger le statut de l'authentification à deux facteurs
const loadTwoFactorStatus = async () => {
    try {
        isLoading.value = true;
        const response = await api.get('/user/two-factor');
        twoFactorEnabled.value = response.data.enabled;
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de récupérer le statut de l\'authentification à deux facteurs',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Configurer l'authentification à deux facteurs
const setupTwoFactor = async () => {
    try {
        isLoading.value = true;
        const response = await api.post('/user/two-factor/generate');
        qrCodeUrl.value = response.data.qr_code;
        secretKey.value = response.data.secret;
        showQrCodeDialog.value = true;
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Impossible de générer le code QR',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Vérifier et activer l'authentification à deux facteurs
const verifyAndEnableTwoFactor = async () => {
    try {
        if (verificationCodeError.value) {
            return;
        }

        isLoading.value = true;
        await api.post('/user/two-factor/enable', { code: verificationCode.value });
        twoFactorEnabled.value = true;
        showQrCodeDialog.value = false;
        verificationCode.value = '';
        toast.add({
            severity: 'success',
            summary: 'Succès',
            detail: 'Authentification à deux facteurs activée avec succès',
            life: 3000
        });
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.response?.data?.message || 'Impossible d\'activer l\'authentification à deux facteurs',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Préparer la désactivation de l'authentification à deux facteurs
const disableTwoFactor = () => {
    disableTwoFactorData.password = '';
    disableTwoFactorData.code = '';
    showDisableTwoFactorDialog.value = true;
};

// Confirmer la désactivation de l'authentification à deux facteurs
const confirmDisableTwoFactor = async () => {
    try {
        if (disablePasswordError.value || disableCodeError.value) {
            return;
        }

        isLoading.value = true;
        await api.post('/user/two-factor/disable', disableTwoFactorData);
        twoFactorEnabled.value = false;
        showDisableTwoFactorDialog.value = false;
        toast.add({
            severity: 'success',
            summary: 'Succès',
            detail: 'Authentification à deux facteurs désactivée avec succès',
            life: 3000
        });
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: error.response?.data?.message || 'Impossible de désactiver l\'authentification à deux facteurs',
            life: 3000
        });
    } finally {
        isLoading.value = false;
    }
};

// Copier la clé secrète dans le presse-papiers
const copySecretKey = () => {
    navigator.clipboard.writeText(secretKey.value);
    toast.add({
        severity: 'info',
        summary: 'Copié',
        detail: 'Code secret copié dans le presse-papiers',
        life: 2000
    });
};

onMounted(() => {
    loadTwoFactorStatus();
});
</script>

<template>
    <div class="flex flex-col items-center">
        <div class="max-w-md w-full">
            <div v-if="isLoading && !showQrCodeDialog && !showDisableTwoFactorDialog" class="flex justify-center my-4">
                <ProgressSpinner />
            </div>

            <div v-else>
                <div class="flex items-center mb-4">
                    <i
                        :class="['pi pi-shield', twoFactorEnabled ? 'text-green-500' : 'text-gray-500', 'text-3xl mr-4']"></i>
                    <div>
                        <div class="text-xl font-medium">Authentification à deux facteurs</div>
                        <div class="text-sm">
                            {{ twoFactorEnabled ? 'Activée' : 'Désactivée' }}
                        </div>
                    </div>
                </div>

                <p class="mb-4 leading-8 text-sm font-normal italic text-gray-500 text-balance">
                    L'authentification à deux facteurs ajoute une couche de sécurité
                    supplémentaire à votre compte.
                    Une fois configurée, vous devrez fournir un code à usage unique généré par
                    une application d'authentification en plus de votre mot de passe lors de la connexion.
                </p>

                <div class="flex justify-end">
                    <Button v-if="!twoFactorEnabled" severity="primary" @click="setupTwoFactor" :loading="isLoading"
                        :disabled="isLoading">
                        Activer l'authentification à deux facteurs
                    </Button>

                    <Button v-else severity="danger" @click="disableTwoFactor" :loading="isLoading"
                        :disabled="isLoading">
                        Désactiver l'authentification à deux facteurs
                    </Button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dialog pour configurer l'authentification à deux facteurs -->
    <Dialog v-model:visible="showQrCodeDialog" modal header="Configurer l'authentification à deux facteurs"
        :style="{ width: '500px' }" :closable="!isLoading">
        <p class="mb-4">
            Scannez ce code QR avec votre application d'authentification (Google
            Authenticator, Microsoft Authenticator, etc.)
        </p>

        <div class="flex justify-content-center mb-4">
            <img v-if="qrCodeUrl" :src="qrCodeUrl" alt="QR Code" class="qr-code" />
            <Skeleton v-else width="200px" height="200px" />
        </div>

        <p class="mb-2">Ou entrez ce code manuellement :</p>
        <div class="flex items-center gap-2 mb-4">
            <InputText v-model="secretKey" readonly class="w-full" />
            <Button icon="pi pi-copy" @click="copySecretKey" />
        </div>

        <Divider class="mb-4" />

        <p class="mb-2">Entrez le code généré par votre application pour vérifier la
            configuration :</p>
        <div class="p-float-label mb-1">
            <InputText id="verification_code" v-model="verificationCode" class="w-full"
                :class="{ 'p-invalid': verificationCodeError }" />
        </div>
        <small v-if="verificationCodeError" class="text-red-500 block mb-3">
            {{ verificationCodeError }}
        </small>

        <template #footer>
            <Button label="Annuler" icon="pi pi-times" @click="showQrCodeDialog = false" text :disabled="isLoading" />
            <Button label="Vérifier et activer" icon="pi pi-check" @click="verifyAndEnableTwoFactor"
                :loading="isLoading" :disabled="!verificationCode || verificationCode.length !== 6 || isLoading" />
        </template>
    </Dialog>

    <!-- Dialog pour désactiver l'authentification à deux facteurs -->
    <Dialog v-model:visible="showDisableTwoFactorDialog" modal header="Désactiver l'authentification à deux facteurs"
        :style="{ width: '500px' }" :closable="!isLoading">
        <p class="mb-4">
            Pour désactiver l'authentification à deux facteurs, veuillez entrer
            votre mot de passe et le code
            généré par votre application d'authentification.
        </p>

        <div class="mb-4">
            <label for="disable_password" class="block text-sm font-medium mb-1">Mot de passe</label>
            <Password id="disable_password" v-model="disableTwoFactorData.password" toggleMask :feedback="false"
                :class="{ 'p-invalid': disablePasswordError }" inputClass="w-full" />
            <small v-if="disablePasswordError" class="text-red-500 block">
                {{ disablePasswordError }}
            </small>
        </div>

        <div class="mb-4">
            <label for="disable_code" class="block text-sm font-medium mb-1">Code d'authentification</label>
            <InputText id="disable_code" v-model="disableTwoFactorData.code" class="w-full"
                :class="{ 'p-invalid': disableCodeError }" />
            <small v-if="disableCodeError" class="text-red-500 block">
                {{ disableCodeError }}
            </small>
        </div>

        <template #footer>
            <Button label="Annuler" icon="pi pi-times" @click="showDisableTwoFactorDialog = false" text
                :disabled="isLoading" />
            <Button label="Désactiver" icon="pi pi-check" severity="danger" @click="confirmDisableTwoFactor"
                :loading="isLoading"
                :disabled="!disableTwoFactorData.password || !disableTwoFactorData.code || disableTwoFactorData.code.length !== 6 || isLoading" />
        </template>
    </Dialog>
</template>

<style scoped>
.qr-code {
    width: 200px;
    height: 200px;
}

:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}

:deep(.p-password) {
    width: 100%;
}

:deep(.p-password-input) {
    width: 100%;
}
</style>