<script setup lang="ts">
import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useUserStore } from '@/stores/user';
import { useToastService } from '@/services/toast.service';
import { type LoginData, authService } from '@/services/auth.service';

const router = useRouter();
const userStore = useUserStore();
const toast = useToastService();

const email = ref<string>('');
const password = ref<string>('');
const loading = ref(false);
const twoFactorCode = ref<string>('');
const showTwoFactorForm = ref(false);

// Validation des champs
const emailError = computed(() => {
    if (email.value.length === 0) return 'L\'email est requis';
    if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email.value)) return 'L\'email n\'est pas valide';
    return '';
});

const passwordError = computed(() => {
    if (password.value.length === 0) return 'Le mot de passe est requis';
    return '';
});

const twoFactorCodeError = computed(() => {
    if (twoFactorCode.value.length === 0) return 'Le code est requis';
    if (!/^\d{6}$/.test(twoFactorCode.value)) return 'Le code doit contenir 6 chiffres';
    return '';
});

// Vérifie si le formulaire est valide
const isFormValid = computed(() => {
    return !emailError.value &&
        !passwordError.value &&
        email.value.length > 0 &&
        password.value.length > 0;
});

const isTwoFactorFormValid = computed(() => {
    return !twoFactorCodeError.value && twoFactorCode.value.length === 6;
});

const handleSubmit = async () => {
    if (!isFormValid.value) {
        toast.add({ severity: 'error', summary: 'Erreur', detail: 'Veuillez remplir tous les champs correctement', life: 3000 });
        return;
    }

    try {
        loading.value = true;

        const loginData: LoginData = {
            email: email.value,
            password: password.value
        };

        const user = await authService.login(loginData);

        if (authService.isTwoFactorRequired()) {
            showTwoFactorForm.value = true;
            return;
        }

        if (user) {
            await userStore.initializeAuth();
            router.push({ name: 'home' });
            toast.add({ severity: 'success', summary: 'Succès', detail: 'Connexion réussie', life: 3000 });
        }
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Une erreur est survenue lors de la connexion',
            life: 3000
        });
    } finally {
        loading.value = false;
    }
};

const handleTwoFactorSubmit = async () => {
    if (!isTwoFactorFormValid.value) {
        toast.add({ severity: 'error', summary: 'Erreur', detail: 'Veuillez entrer un code valide', life: 3000 });
        return;
    }

    try {
        loading.value = true;

        const user = await authService.verifyTwoFactor(twoFactorCode.value);

        if (user) {
            await userStore.initializeAuth();
            router.push({ name: 'home' });
            toast.add({ severity: 'success', summary: 'Succès', detail: 'Connexion réussie', life: 3000 });
        }
    } catch (error: any) {
        toast.add({
            severity: 'error',
            summary: 'Erreur',
            detail: 'Code d\'authentification invalide',
            life: 3000
        });
    } finally {
        loading.value = false;
    }
};
</script>

<template>
    <div class="flex items-center justify-center bg-surface-50 dark:bg-surface-900 grow">
        <div class="w-full max-w-md p-6">
            <div class="bg-white dark:bg-zinc-800 shadow-lg rounded-lg p-8">
                <h2 class="text-2xl font-bold mb-6 text-center text-surface-900 dark:text-surface-0">
                    {{ showTwoFactorForm ? 'Authentification à deux facteurs' : 'Connexion' }}
                </h2>

                <form v-if="!showTwoFactorForm" @submit.prevent="handleSubmit" class="space-y-6">
                    <div>
                        <label for="email" class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                            Email
                            <span class="text-red-500">*</span>
                        </label>
                        <div class="mt-1">
                            <InputText id="email" v-model="email as string" type="email"
                                :class="{ 'p-invalid': emailError }" class="w-full" autocomplete="email" />
                            <small class="text-red-500" v-if="emailError">{{ emailError }}</small>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                            Mot de passe
                            <span class="text-red-500">*</span>
                        </label>
                        <div class="mt-1">
                            <Password id="password" v-model="password" :feedback="false" toggleMask
                                :class="{ 'p-invalid': passwordError }" class="w-full" inputClass="w-full"
                                autocomplete="current-password" />
                            <small class="text-red-500" v-if="passwordError">{{ passwordError }}</small>
                        </div>
                    </div>

                    <div>
                        <Button type="submit" :loading="loading" :disabled="!isFormValid || loading" class="w-full">
                            {{ loading ? 'Connexion en cours...' : 'Se connecter' }}
                        </Button>
                    </div>

                    <div class="text-center text-sm">
                        <Button @click="router.push({ name: 'register' })" link class="text-primary hover:underline">
                            Pas encore de compte ? S'inscrire
                        </Button>
                    </div>
                </form>

                <form v-else @submit.prevent="handleTwoFactorSubmit" class="space-y-6">
                    <div class="text-center mb-4">
                        <p class="text-surface-700 dark:text-surface-200">
                            Veuillez entrer le code à 6 chiffres généré par votre application d'authentification.
                        </p>
                    </div>

                    <div>
                        <label for="twoFactorCode"
                            class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                            Code d'authentification
                            <span class="text-red-500">*</span>
                        </label>
                        <div class="mt-1">
                            <InputText id="twoFactorCode" v-model="twoFactorCode as string" type="text" maxlength="6"
                                :class="{ 'p-invalid': twoFactorCodeError }"
                                class="w-full text-center text-xl tracking-widest" autocomplete="one-time-code" />
                            <small class="text-red-500" v-if="twoFactorCodeError">{{ twoFactorCodeError }}</small>
                        </div>
                    </div>

                    <div>
                        <Button type="submit" :loading="loading" :disabled="!isTwoFactorFormValid || loading"
                            class="w-full">
                            {{ loading ? 'Vérification en cours...' : 'Vérifier' }}
                        </Button>
                    </div>

                    <div class="text-center text-sm">
                        <a href="#" @click.prevent="showTwoFactorForm = false" class="text-primary hover:underline">
                            Retour à la connexion
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}
</style>