<script setup lang="ts">
import { ref, computed, reactive } from 'vue';
import { useRouter } from 'vue-router';
import { useUserStore } from '@/stores/user';
import { useToastService } from '@/services/toast.service';
import { type RegisterData } from '@/services/auth.service';
import PasswordInput from '@/components/PasswordInput.vue';

const router = useRouter();
const userStore = useUserStore();
const toast = useToastService();

const firstname = ref<string>('');
const lastname = ref<string>('');
const email = ref<string>('');
const password = ref<string>('');
const loading = ref(false);
const passwordValidation = ref<string[]>([]);
const passwordIsValid = ref(false);

// Validation des champs
const firstNameError = computed(() => {
    if (firstname.value.length === 0) return 'Le prénom est requis';
    return '';
});

const lastNameError = computed(() => {
    if (lastname.value.length === 0) return 'Le nom est requis';
    return '';
});

const emailError = computed(() => {
    if (email.value.length === 0) return 'L\'email est requis';
    if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email.value)) return 'L\'email n\'est pas valide';
    return '';
});

// Vérifie si le formulaire est valide
const isFormValid = computed(() => {
    return !firstNameError.value &&
        !lastNameError.value &&
        !emailError.value &&
        passwordIsValid.value &&
        firstname.value.length > 0 &&
        lastname.value.length > 0 &&
        email.value.length > 0 &&
        password.value.length > 0;
});

// Gestion de la validation du mot de passe
interface PasswordValidationResult {
    isValid: boolean;
    errors: string[];
}

const handlePasswordValidation = (validation: PasswordValidationResult) => {
    passwordIsValid.value = validation.isValid;
    passwordValidation.value = validation.errors;
};

const handleSubmit = async () => {
    if (!isFormValid.value) {
        toast.add({ severity: 'error', summary: 'Erreur', detail: 'Veuillez remplir tous les champs correctement', life: 3000 });
        return;
    }

    loading.value = true;
    const registerData: RegisterData = {
        firstname: firstname.value,
        lastname: lastname.value,
        email: email.value,
        password: password.value
    };

    await userStore.register(registerData);
    loading.value = false;
};
</script>

<template>
    <div class="flex items-center justify-center bg-surface-50 dark:bg-surface-900 grow">
        <div class="w-full max-w-md p-6">
            <div class="bg-white dark:bg-zinc-800 shadow-lg rounded-lg p-8">
                <h2 class="text-2xl font-bold mb-6 text-center text-surface-900 dark:text-surface-0">Inscription</h2>
                <form @submit.prevent="handleSubmit" class="space-y-6">
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label for="firstname"
                                class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                                Prénom
                                <span class="text-red-500">*</span>
                            </label>
                            <div class="mt-1">
                                <InputText id="firstname" v-model="firstname as string"
                                    :class="{ 'p-invalid': firstNameError }" class="w-full" type="text" required />
                                <small class="text-red-500" v-if="firstNameError">{{ firstNameError }}</small>
                            </div>
                        </div>

                        <div>
                            <label for="lastname"
                                class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                                Nom
                                <span class="text-red-500">*</span>
                            </label>
                            <div class="mt-1">
                                <InputText id="lastname" v-model="lastname as string"
                                    :class="{ 'p-invalid': lastNameError }" class="w-full" required />
                                <small class="text-red-500" v-if="lastNameError">{{ lastNameError }}</small>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                            Email
                            <span class="text-red-500">*</span>
                        </label>
                        <div class="mt-1">
                            <InputText id="email" v-model="email as string" type="email"
                                :class="{ 'p-invalid': emailError }" class="w-full" required />
                            <small class="text-red-500" v-if="emailError">{{ emailError }}</small>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-surface-900 dark:text-surface-0">
                            Mot de passe
                            <span class="text-red-500">*</span>
                        </label>
                        <PasswordInput id="password" v-model="password" label="" required
                            @validation-change="handlePasswordValidation" />
                    </div>

                    <div>
                        <Button type="submit" :loading="loading" :disabled="!isFormValid" class="w-full">
                            {{ loading ? 'Inscription en cours...' : 'S\'inscrire' }}
                        </Button>
                    </div>

                    <div class="text-center text-sm">
                        <Button @click="router.push({ name: 'login' })" link class="text-primary hover:underline">
                            Déjà un compte ? Se connecter
                        </Button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}
</style>