<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { authService } from '@/services/auth.service';

// Composants d'onglets
import ProfileTab from '@/components/dashboard/ProfileTab.vue';
import PasswordTab from '@/components/dashboard/PasswordTab.vue';
import TwoFactorTab from '@/components/dashboard/TwoFactorTab.vue';
import DevicesTab from '@/components/dashboard/DevicesTab.vue';
import OrdersTab from '@/components/dashboard/OrdersTab.vue';
import DeleteAccountTab from '@/components/dashboard/DeleteAccountTab.vue';

const route = useRoute();
const router = useRouter();
const activeTab = ref('profile');

// Liste des onglets disponibles
const tabs = [
    { id: 'profile', label: 'Profil', icon: 'pi pi-user' },
    { id: 'password', label: 'Mot de passe', icon: 'pi pi-lock' },
    { id: 'two-factor', label: 'Authentification à deux facteurs', icon: 'pi pi-shield' },
    { id: 'devices', label: 'Appareils connectés', icon: 'pi pi-mobile' },
    { id: 'orders', label: 'Mes commandes', icon: 'pi pi-shopping-bag' },
    { id: 'delete-account', label: 'Suppression du compte', icon: 'pi pi-trash', danger: true }
];

// Vérifier si l'utilisateur est connecté
onMounted(async () => {
    if (!authService.isAuthenticated()) {
        router.push({ name: 'login' });
        return;
    }

    // Définir l'onglet actif en fonction du paramètre d'URL
    if (route.query.tab && typeof route.query.tab === 'string') {
        const tabExists = tabs.some(tab => tab.id === route.query.tab);
        if (tabExists) {
            activeTab.value = route.query.tab as string;
        }
    }
});

// Changer d'onglet
const changeTab = (tabId: string) => {
    activeTab.value = tabId;
    router.replace({ query: { ...route.query, tab: tabId } });
};
</script>

<template>
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
            <!-- Sidebar avec les onglets -->
            <div class="lg:col-span-1">
                <Card class="sticky top-24">
                    <template #content>
                        <div class="flex flex-col gap-2">
                            <div v-for="tab in tabs" :key="tab.id" @click="changeTab(tab.id)"
                                class="p-3 rounded-lg cursor-pointer transition-colors" :class="[
                                    activeTab === tab.id
                                        ? 'bg-primary text-white'
                                        : 'hover:bg-surface-100 dark:hover:bg-surface-700',
                                    tab.danger && activeTab !== tab.id ? 'text-red-500' : ''
                                ]">
                                <div class="flex items-center gap-3">
                                    <i :class="[tab.icon, 'text-xl']"></i>
                                    <span class="font-medium">{{ tab.label }}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </Card>
            </div>

            <!-- Contenu de l'onglet actif -->
            <div class="lg:col-span-3">
                <Card>
                    <template #header>
                        <div class="text-xl font-bold p-4 flex items-center gap-3">
                            <i :class="[tabs.find(t => t.id === activeTab)?.icon || 'pi pi-user', 'text-2xl']"></i>
                            <span>{{tabs.find(t => t.id === activeTab)?.label || 'Profil'}}</span>
                        </div>
                    </template>

                    <template #content>
                        <div class="p-4">
                            <!-- Onglet Profil -->
                            <ProfileTab v-if="activeTab === 'profile'" />

                            <!-- Onglet Mot de passe -->
                            <PasswordTab v-if="activeTab === 'password'" />

                            <!-- Onglet Authentification à deux facteurs -->
                            <TwoFactorTab v-if="activeTab === 'two-factor'" />

                            <!-- Onglet Appareils connectés -->
                            <DevicesTab v-if="activeTab === 'devices'" />

                            <!-- Onglet Commandes -->
                            <OrdersTab v-if="activeTab === 'orders'" />

                            <!-- Onglet Suppression du compte -->
                            <DeleteAccountTab v-if="activeTab === 'delete-account'" />
                        </div>
                    </template>
                </Card>
            </div>
        </div>
    </div>
</template>

<style scoped>
:deep(.p-card-content) {
    padding: 0;
}
</style>