<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted } from 'vue';
import SelectComponent from './SelectComponent.vue';
import { Product } from '@/models/product.model';
import { useProductStore } from '@/stores/products';

export interface SearchDataSource<T> {
    category: string;
    datas: T[];
    searchFields: (keyof T)[];
}

const props = defineProps({
    dataSource: {
        type: Array as () => SearchDataSource<any>[],
        required: true,
    },
});

const productStore = useProductStore();
const products = ref<Product[]>([]);
products.value = productStore.products;

const filtersVisible = ref(false);
const resultsVisible = ref(false);
const selectedCategory = ref('');
const filters = ref<{ [key: string]: string }>({});
const query = ref('');
const results = ref<{ category: string; items: any[] }[]>([]);

// Référence des éléments pour le panneau des filtres et des résultats
const filtersPanelRef = ref<HTMLElement | null>(null);
const resultsPanelRef = ref<HTMLElement | null>(null);

// Regrouper les résultats par catégorie
const resultsByCategory = computed(() => {
    return results.value.reduce((acc, result) => {
        acc[result.category] = result.items;
        return acc;
    }, {} as { [key: string]: any[] });
});

const sortedResults = computed(() => {
    if (!selectedCategory.value) return [];
    return resultsByCategory.value[selectedCategory.value].sort((a, b) => {
        const collator = new Intl.Collator(undefined, { numeric: true, sensitivity: 'base' });
        return collator.compare(a.name, b.name);
    });
});

// Fonction pour effectuer une recherche dans toutes les sources
const onSearch = () => {
    if (query.value.trim()) {
        results.value = props.dataSource.map((source) => {
            const filteredItems = source.datas.filter((item) =>
                source.searchFields.some((field) =>
                    String(item[field]).toLowerCase().includes(query.value.toLowerCase())
                )
            );
            return { category: source.category, items: filteredItems };
        }).filter(result => result.items.length > 0);

        resultsVisible.value = true;
        selectedCategory.value = results.value.length > 0 ? results.value[0].category : '';
    } else {
        results.value = [];
        resultsVisible.value = false;
    }
};

const toggleFilters = () => {
    filtersVisible.value = !filtersVisible.value;
};

const applyFilters = () => {
    filtersVisible.value = false;
    onSearch();
};

const selectCategory = (category: string) => {
    selectedCategory.value = category;
};

const onResultClick = (product: Product) => {
    console.log('Produit sélectionné:', product);
};

// Fermer les panneaux si clic ou scroll en dehors
const handleClickOutside = (event: MouseEvent) => {
    const target = event.target as HTMLElement;

    // Ignore les clics sur l'input de recherche ou le bouton filtres
    if (
        target === inputRef.value || // Vérifie si le clic est sur l'input
        filtersPanelRef.value?.contains(target) || // Vérifie si le clic est dans le panneau de filtres
        resultsPanelRef.value?.contains(target) // Vérifie si le clic est dans le panneau de résultats
    ) {
        return;
    }

    resultsVisible.value = false;
    filtersVisible.value = false;
};

// Ajoutez une référence à l'input pour le détecter
const inputRef = ref<HTMLElement | null>(null);

const handleScrollOutside = () => {
    if (filtersVisible.value || resultsVisible.value) {
        filtersVisible.value = false;
        resultsVisible.value = false;
    }
};

const handleClickSelectedCategories = (selectedOptions: { value: string | number; label: string }[]) => {
    filters.value = selectedOptions.reduce((acc, option) => {
        acc[option.value] = '';
        return acc;
    }, {} as { [key: string]: string });
};

// Ajouter et supprimer les écouteurs
onMounted(() => {
    document.addEventListener('click', handleClickOutside);
    document.addEventListener('scroll', handleScrollOutside);
});

onUnmounted(() => {
    document.removeEventListener('click', handleClickOutside);
    document.removeEventListener('scroll', handleScrollOutside);
});
</script>

<template>
    <div class="relative w-full z-20">
        <!-- Input de recherche -->
        <div class="flex items-center gap-2">
            <input type="text"
                class="w-full p-2 outline-none dark:bg-zinc-800 dark:text-zinc-200 border border-zinc-300 dark:border-zinc-700"
                placeholder="Rechercher..." v-model="query" @input="onSearch" @focus="onSearch" ref="inputRef" />
            <button class="p-2 text-white bg-green-700 hover:bg-green-800" @click.stop="toggleFilters">
                Filtres
            </button>
        </div>

        <!-- Panneau des résultats -->
        <div v-if="resultsVisible" ref="resultsPanelRef" class="absolute z-10 w-full">
            <div
                class="sticky top-0 bg-white mt-2 dark:bg-zinc-800 dark:text-zinc-200 border border-zinc-300 dark:border-zinc-700">
                <!-- Onglets des catégories -->
                <div class="flex justify-start items-center mx-2 max-h-96 overflow-y-auto">
                    <button v-for="(category, index) in Object.keys(resultsByCategory)" :key="index"
                        @click="selectCategory(category)" :class="[
                            'px-2 py-1 uppercase text-sm font-mono',
                            selectedCategory === category
                                ? 'text-green-600'
                                : 'text-zinc-700 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-100',
                        ]">
                        {{ category }}
                    </button>
                </div>

                <!-- Panneau des filtres si visible -->
                <div v-if="filtersVisible"
                    class="p-4 bg-white dark:bg-zinc-800 dark:text-zinc-200 border-t border-zinc-300 dark:border-zinc-700">
                    <div class="flex gap-x-4">
                        <div class="flex items-center justify-center w-6 border-r border-zinc-300 dark:border-zinc-700">
                            <h3 class="mb-2 text-lg transform origin-center -rotate-90">Filtres</h3>
                        </div>
                        <div class="w-full">
                            <div class="mb-2">
                                <label class="block mb-1 text-sm font-semibold">Catégorie</label>
                                <SelectComponent
                                    :options="dataSource.map((item) => ({ value: item.category, label: $t(item.category) }))"
                                    :isMultiple="true" @changeEvent="handleClickSelectedCategories" />
                            </div>
                            <button class="p-2 mt-2 text-white bg-green-600 hover:bg-green-700"
                                @click.stop="applyFilters">
                                Appliquer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Résultats -->
                <ul class="border-t border-zinc-300 dark:border-zinc-700 max-h-96 overflow-y-auto">
                    <li v-for="result in sortedResults" :key="result.id"
                        class="flex items-center p-2 cursor-pointer hover:bg-zinc-300 dark:hover:bg-zinc-700"
                        @click="onResultClick(result)">
                        <div v-if="result.image" class="w-12 h-12 mr-2 flex items-center justify-center">
                            <img :src="(result.image as string)" alt="Image" class="h-full aspect-[9/16]" />
                        </div>
                        <div>
                            <p class="font-bold text-zinc-800 dark:text-zinc-400">
                                {{ result.name || result.username }}
                            </p>
                            <p class="text-sm text-zinc-600 dark:text-zinc-500 line-clamp-2 truncate">
                                {{ result.description || result.bio || result.location }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Panneau des filtres -->
        <div v-else-if="filtersVisible" ref="filtersPanelRef"
            class="absolute z-10 w-full p-4 bg-white mt-2 dark:bg-zinc-800 dark:text-zinc-200 border border-zinc-300 dark:border-zinc-700">
            <div class="flex gap-x-4">
                <div class="flex items-center justify-center w-6 border-r border-zinc-300 dark:border-zinc-700">
                    <h3 class="mb-2 text-lg transform origin-center -rotate-90">Filtres</h3>
                </div>
                <div class="w-full">
                    <div class="mb-2">
                        <label class="block mb-1 text-sm font-semibold">Catégorie</label>
                        <SelectComponent
                            :options="dataSource.map((item) => ({ value: item.category, label: $t(item.category) }))"
                            :isMultiple="true" @changeEvent="handleClickSelectedCategories" />
                    </div>
                    <button class="p-2 mt-2 text-white bg-green-600 hover:bg-green-700" @click.stop="applyFilters">
                        Appliquer
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
