<script setup lang="ts">
import { defineProps, defineEmits, ref, computed, onUnmounted, onMounted, watch } from "vue";

const props = defineProps({
    id: {
        type: String,
        required: false,
    },
    name: {
        type: String,
        required: false,
    },
    options: {
        type: Array as () => { value: string; label: string, [key: string]: any }[],
        required: true,
    },
    isMultiple: {
        type: Boolean,
        default: false,
    },
    numberSelected: {
        type: Number,
        default: 2,
    },
    placeholder: {
        type: String,
        default: "Sélectionnez une option",
    },
    hasSearch: {
        type: Boolean,
        default: false,
    },
    forceClose: {
        type: Boolean,
        default: false
    },
    modelValue: {
        type: [Array, Object, String, Number],
        default: null,
    },
    changeEvent: {
        type: Function,
        required: false,
    },
    isOpenEvent: {
        type: Function,
        required: false,
    }
});

// Événements
const emit = defineEmits<{ (e: 'changeEvent', value: { value: string; label: string }[]): void; (e: 'isOpenEvent', value: boolean): void }>();

// Variables réactives
const isOpen = ref(false);
const searchQuery = ref("");
const selectedOptions = ref<Array<{ value: string; label: string }>>(props.isMultiple && Array.isArray(props.modelValue) ? props.modelValue : (props.modelValue ? [props.modelValue] : []));
// Calculs
const filteredOptions = computed(() => {
    if (!props.hasSearch || !searchQuery.value) {
        return props.options;
    }
});

// Méthodes
const toggleDropdown = () => {
    isOpen.value = !isOpen.value;
    emit("isOpenEvent", isOpen.value);
};

const selectOption = (option: { value: string; label: string }) => {
    if (props.isMultiple) {
        const index = selectedOptions.value.findIndex(
            (selected) => selected.value === option.value
        );
        if (index > -1) {
            selectedOptions.value.splice(index, 1);
        } else {
            selectedOptions.value.push(option);
        }
        emit("changeEvent", selectedOptions.value);
    } else {
        selectedOptions.value = [option];
        emit("changeEvent", [option]);
        isOpen.value = false;
    }
};

const isSelected = (option: { value: string; label: string }) => {
    return selectedOptions.value.some(
        (selected) => selected.value === option.value
    );
};

watch(props, () => {
    if (props.forceClose && isOpen.value) {
        isOpen.value = false;
    }
})
</script>

<template>
    <div class="relative h-10 bg-zinc-200 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200">
        <!-- Affichage du champ select -->
        <div class="border border-zinc-300 dark:border-zinc-700 p-1 cursor-pointer flex flex-wrap items-center gap-1 h-full"
            ref="selectRef" @click="toggleDropdown">
            <template v-if="isMultiple">
                <template v-if="selectedOptions.length === 0">
                    <!-- Afficher le placeholder si aucune option n'est sélectionnée -->
                    <span class="px-2 py-1 text-sm overflow-hidden">
                        {{ placeholder }}
                    </span>
                </template>
                <template v-else-if="selectedOptions.length <= numberSelected">
                    <!-- Afficher toutes les options si 2 ou moins sont sélectionnées -->
                    <span v-for="(item, index) in selectedOptions" :key="index"
                        class="px-2 py-1 text-sm overflow-hidden">
                        {{ item.label }}
                    </span>
                </template>
                <template v-else>
                    <!-- Afficher les deux premières options et le nombre restant -->
                    <span v-for="(item, index) in selectedOptions.slice(0, numberSelected)" :key="index"
                        class="px-2 py-1 text-sm overflow-hidden">
                        {{ item.label }}
                    </span>
                    <span class="text-sm overflow-hidden">
                        (+ {{ selectedOptions.length - numberSelected }} autre{{ selectedOptions.length - numberSelected
                            === 1 ? '' : 's' }})
                    </span>
                </template>
            </template>
            <template v-else>
                <!-- Afficher une seule option sélectionnée ou le placeholder -->
                <span class="">
                    {{ selectedOptions.length > 0 ? selectedOptions[0].label : placeholder }}
                </span>
            </template>
        </div>

        <!-- Menu déroulant -->
        <div v-if="isOpen" class="absolute z-10 mt-2 w-full border border-zinc-300 dark:border-zinc-700 shadow-lg"
            ref="panelRef">
            <!-- Champ de recherche -->
            <input v-if="hasSearch" v-model="searchQuery" type="text" placeholder="Rechercher..."
                class="w-full p-2 border-b border-zinc-200 focus:outline-none" />
            <!-- Liste des options -->
            <ul class="max-h-60 overflow-y-auto bg-zinc-200 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200">
                <li v-for="option in filteredOptions" :key="option.value"
                    :class="isSelected(option) ? 'px-4 py-2 cursor-pointer hover:bg-zinc-400 dark:hover:bg-zinc-700 font-bold' : 'px-4 py-2 cursor-pointer hover:bg-zinc-400 dark:hover:bg-zinc-700'"
                    @click="selectOption(option)">
                    <span>
                        <i v-if="isSelected(option)" class="fa-sharp fa-regular fa-square-check text-lg mr-2"></i>
                        <i v-else class="fa-sharp fa-regular fa-square text-lg mr-2"></i>
                    </span>
                    {{ option.label }}
                </li>
            </ul>
        </div>
    </div>
</template>