<script setup lang="ts">
import { ref, onMounted, onUnmounted } from "vue";
import DarkModeButton from "@/components/buttons/DarkModeButton.vue";
import NotificationList from '../notifications/NotificationList.vue';
import FavoriteList from '../favorites/FavoriteList.vue';
import { useNotificationStore } from '@/stores/notifications';
import { useFavoriteStore } from '@/stores/favorites';
import { useUserStore } from '@/stores/user';
import { useToastService } from '@/services/toast.service';
import { useRouter } from 'vue-router';

const visible = ref(false);
const edgeThreshold = 10; // Largeur de la zone sensible en pixels

const notificationStore = useNotificationStore();
const favoriteStore = useFavoriteStore();
const userStore = useUserStore();
const toastService = useToastService();
const router = useRouter();
const notificationBtn = ref(null);
const favoriteBtn = ref(null);
const userBtn = ref(null);

const handleMouseMove = (event: MouseEvent) => {
    if (!visible.value && event.clientX <= edgeThreshold) {
        visible.value = true;
    }
};
const toggleNotifications = (event: Event) => {
    if (notificationBtn.value) {
        (notificationBtn.value as any).toggle(event);
    }
};

const toggleFavorites = (event: Event) => {
    if (favoriteBtn.value) {
        (favoriteBtn.value as any).toggle(event);
    }
};

const handleLogout = async () => {
    await userStore.logout();
};

const handleLog = (event: Event) => {
    userStore.isAuthenticated ? (userBtn.value as any).toggle(event) : router.push({ name: 'login' })
}

onMounted(() => {
    window.addEventListener("mousemove", handleMouseMove);
});

onUnmounted(() => {
    window.removeEventListener("mousemove", handleMouseMove);
});
</script>

<template>
    <div class="py-2">
        <Drawer v-model:visible="visible" class="rounded-br-[3rem] rounded-tr-[3rem]">
            <template #container="{ closeCallback }">
                <div class="flex flex-col h-full">
                    <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                        <span class="inline-flex items-center gap-2">
                            <svg width="35" height="40" viewBox="0 0 35 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M25.87 18.05L23.16 17.45L25.27 20.46V29.78L32.49 23.76V13.53L29.18 14.73L25.87 18.04V18.05ZM25.27 35.49L29.18 31.58V27.67L25.27 30.98V35.49ZM20.16 17.14H20.03H20.17H20.16ZM30.1 5.19L34.89 4.81L33.08 12.33L24.1 15.67L30.08 5.2L30.1 5.19ZM5.72 14.74L2.41 13.54V23.77L9.63 29.79V20.47L11.74 17.46L9.03 18.06L5.72 14.75V14.74ZM9.63 30.98L5.72 27.67V31.58L9.63 35.49V30.98ZM4.8 5.2L10.78 15.67L1.81 12.33L0 4.81L4.79 5.19L4.8 5.2ZM24.37 21.05V34.59L22.56 37.29L20.46 39.4H14.44L12.34 37.29L10.53 34.59V21.05L12.42 18.23L17.45 26.8L22.48 18.23L24.37 21.05ZM22.85 0L22.57 0.69L17.45 13.08L12.33 0.69L12.05 0H22.85Z"
                                    fill="var(--p-primary-color)" />
                                <path
                                    d="M30.69 4.21L24.37 4.81L22.57 0.69L22.86 0H26.48L30.69 4.21ZM23.75 5.67L22.66 3.08L18.05 14.24V17.14H19.7H20.03H20.16H20.2L24.1 15.7L30.11 5.19L23.75 5.67ZM4.21002 4.21L10.53 4.81L12.33 0.69L12.05 0H8.43002L4.22002 4.21H4.21002ZM21.9 17.4L20.6 18.2H14.3L13 17.4L12.4 18.2L12.42 18.23L17.45 26.8L22.48 18.23L22.5 18.2L21.9 17.4ZM4.79002 5.19L10.8 15.7L14.7 17.14H14.74H15.2H16.85V14.24L12.24 3.09L11.15 5.68L4.79002 5.2V5.19Z"
                                    fill="var(--p-text-color)" />
                            </svg>
                            <span class="font-semibold text-2xl text-primary">Eshop</span>
                        </span>
                        <span>
                            <Button type="button" @click="closeCallback" icon="pi pi-times" variant="text"
                                rounded></Button>
                        </span>
                    </div>

                    <div class="flex flex-col items-center justify-start flex-1 my-12">
                        <div class="w-full px-4">
                            <Button label="Home" @click="router.push({ name: 'home' })"
                                :variant="$router.currentRoute.value.name === 'home' ? undefined : 'text'" size="small"
                                class="w-full" />
                        </div>
                        <div class="w-full px-4 flex">
                            <Button label="Shop" @click="router.push({ name: 'shop' })"
                                :variant="$router.currentRoute.value.name === 'products' ? undefined : 'text'"
                                size="small" class="w-full" />
                        </div>
                        <div class="w-full px-4">
                            <Button label="Panier" @click="router.push({ name: 'cart' })"
                                :variant="$router.currentRoute.value.name === 'cart' ? undefined : 'text'" size="small"
                                class="w-full" />
                        </div>
                    </div>

                    <div class="mt-auto mb-4 px-4">
                        <div
                            class="flex items-center gap-3 mb-4 pb-4 border-b border-surface-200 dark:border-surface-700">
                            <Avatar image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png"
                                shape="circle" size="large" />
                            <div>
                                <h3 class="text-sm font-medium text-surface-900 dark:text-surface-0">
                                    {{ userStore.user?.firstname }} {{ userStore.user?.lastname }}
                                </h3>
                                <p class="text-xs text-surface-500">{{ userStore.user?.email }}</p>
                            </div>
                        </div>
                        <div class="w-full px-4">
                            <Button label="Mon compte" @click="router.push({ name: 'dashboard' })"
                                :variant="$router.currentRoute.value.name === 'dashboard' ? undefined : 'text'"
                                size="small" class="w-full" />
                        </div>
                    </div>
                </div>
            </template>
        </Drawer>

        <div class="flex items-center justify-between">
            <div>
                <Button icon="pi pi-bars" @click="visible = true" variant="text" outlined />
            </div>
            <div class="flex items-center">
                <DarkModeButton class="ml-2" variant="text" outlined />
                <BadgedButton icon="pi pi-heart" :badge="favoriteStore.favoriteCount" @click="toggleFavorites"
                    class="ml-2" variant="text" outlined>
                </BadgedButton>
                <Popover ref="favoriteBtn" :showCloseIcon="false">
                    <template #container="{ ...slotProps }">
                        <div class="bg-white dark:bg-zinc-900 shadow-2 rounded">
                            <FavoriteList />
                        </div>
                    </template>
                </Popover>
                <BadgedButton icon="pi pi-bell" :badge="notificationStore.unreadCount" @click="toggleNotifications">
                </BadgedButton>
                <Popover ref="notificationBtn" :showCloseIcon="false">
                    <template #container="{ ...slotProps }">
                        <div class="bg-white dark:bg-zinc-900 shadow-2 rounded">
                            <NotificationList />
                        </div>
                    </template>
                </Popover>
                <BadgedButton icon="pi pi-user" :severityBadge="userStore.isAuthenticated ? 'success' : 'danger'"
                    @click="handleLog">
                </BadgedButton>
                <Popover v-if="userStore.isAuthenticated" ref="userBtn" :showCloseIcon="false">
                    <div class="w-64 p-4 bg-white dark:bg-zinc-900 shadow-2 rounded">
                        <div
                            class="flex items-center gap-3 mb-4 pb-4 border-b border-surface-200 dark:border-surface-700">
                            <Avatar image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png"
                                shape="circle" size="large" />
                            <div>
                                <h3 class="text-sm font-medium text-surface-900 dark:text-surface-0">
                                    {{ userStore.user?.firstname }} {{ userStore.user?.lastname }}
                                </h3>
                                <p class="text-xs text-surface-500">{{ userStore.user?.email }}</p>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <Button icon="pi pi-cog" label="Mon compte" text class="justify-start"
                                @click="router.push({ name: 'dashboard' })" />
                            <Button icon="pi pi-sign-out" label="Déconnexion" text severity="danger"
                                class="justify-start" @click="handleLogout" />
                        </div>
                    </div>
                </Popover>
                <Button icon="pi pi-shopping-cart" @click="router.push({ name: 'cart' })" class="ml-2" variant="text"
                    outlined></Button>
            </div>
        </div>
    </div>
</template>