<template>
    <div class="bg-zinc-0 dark:bg-zinc-900 rounded-lg shadow-sm p-6">
        <!-- Pays de livraison -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 mb-2">
                Pays de livraison
            </label>
            <Dropdown v-model="shippingStore.selectedCountry" :options="countryOptions" optionLabel="name"
                optionValue="code" class="w-full" @change="onCountryChange" :loading="shippingStore.isLoading"
                :disabled="shippingStore.isLoading" />
        </div>

        <!-- Message livraison gratuite -->
        <div v-if="shippingStore.remainingForFreeShipping > 0"
            class="mb-4 ml-4 bg-primary-50 text-primary-700 rounded-lg italic flex items-center justify-between">
            <p>
                Plus que {{ moneyStore.formatPrice(shippingStore.remainingForFreeShipping) }} d'achats pour bénéficier
                de la livraison gratuite !
            </p>
            <Button label="Ajoutes des produits" link @click="router.push({ name: 'shop' })" />
        </div>

        <!-- Options de livraison -->
        <div v-if="shippingStore.shippingOptions.length > 0" class="mb-4">
            <label class="block text-sm font-medium text-gray-700 mb-2">
                Mode de livraison
            </label>
            <div class="space-y-2">
                <div v-for="option in shippingStore.shippingOptions" :key="option.id"
                    class="flex items-center p-4 border rounded-lg cursor-pointer hover:border-primary transition-colors"
                    :class="{ 'bg-[#3ab88e]/10': isSelected(option) }" @click="selectOption(option)">
                    <div class="flex-1">
                        <div class="flex items-center justify-between">
                            <span class="font-medium">
                                {{ option.name }}
                            </span>
                            <span class="font-medium">
                                {{ option.cost === 0 ? 'Gratuit' : moneyStore.formatPrice(option.cost) }}
                            </span>
                        </div>
                        <p class="text-sm text-gray-500 mt-1">
                            Livraison estimée : {{ shippingService.formatDeliveryEstimate(option) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref, computed } from 'vue';
import { useShippingStore } from '@/stores/shipping';
import { useCartStore } from '@/stores/cart';
import { useMoneyStore } from '@/stores/money';
import { shippingService, type ShippingOption } from '@/services/shipping.service';
import { useRouter } from 'vue-router';

const shippingStore = useShippingStore();
const moneyStore = useMoneyStore();
const router = useRouter();

// Options de pays pour le dropdown
const countryOptions = computed(() => {
    return shippingStore.availableCountries;
});

onMounted(async () => {
    await shippingStore.loadCountries();
    await shippingStore.loadShippingOptions();
});

const onCountryChange = async () => {
    await shippingStore.loadShippingOptions();
};

const selectOption = (option: ShippingOption) => {
    shippingStore.selectShippingOption(option);
};

const isSelected = (option: ShippingOption) => {
    return shippingStore.selectedOption?.id === option.id;
};
</script>