<script setup lang="ts">
import { ref, onMounted, onUnmounted } from "vue";
import { useCartStore } from "@/stores/cart";
import { useMoneyStore } from "@/stores/money";
import { useShippingStore } from "@/stores/shipping";
import { useI18n } from 'vue-i18n';
import { Product } from "@/models/product.model";
import { useRouter } from 'vue-router';

const { t } = useI18n();
const router = useRouter();

const cartStore = useCartStore();
const moneyStore = useMoneyStore();
const shippingStore = useShippingStore();

const getSeverity = (product: Product): 'success' | 'warn' | 'danger' | undefined => {
    switch (product.status) {
        case 'new':
            return 'success';

        case 'onsale':
            return 'warn';

        case 'soldout':
            return 'danger';

        default:
            return undefined;
    }
}

// Calculer dynamiquement le nombre de colonnes visibles
const width = ref(window.innerWidth);
const updateWidth = () => {
    width.value = window.innerWidth;
};

onMounted(async () => {
    // Initialiser le shippingStore
    await shippingStore.loadCountries();
    await shippingStore.loadShippingOptions();
    window.addEventListener("resize", updateWidth);
});

onUnmounted(() => {
    window.removeEventListener("resize", updateWidth);
});

</script>

<template>
    <div class="container mx-auto pt-4">
        <div v-if="cartStore.cart.length > 0" class="flex justify-start">
            <Button label="Shop" @click="router.push({ name: 'shop' })" icon="pi pi-arrow-left"
                iconPos="right"></Button>
        </div>

        <DataView :value="cartStore.cart" paginator :rows="5" dataKey="id" class="template-list">
            <template #list="slotProps">
                <div class="flex flex-col">
                    <div v-for="(item, index) in slotProps.items" :key="index">
                        <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                            :class="{ 'border-t border-zinc-200 dark:border-zinc-700': index !== 0 }">
                            <div class="hidden sm:block sm:w-40 relative">
                                <img class="block xl:block mx-auto rounded w-full" :src="item.images[0].itemImageSrc"
                                    :alt="item.name" />
                                <div class="absolute rounded" style="left: 4px; top: 4px">
                                    <Tag v-if="item?.status" :value="item?.status" :severity="getSeverity(item)"
                                        class="text-xs"></Tag>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 sm:grid-cols-3 justify-between sm:items-center flex-1 gap-6">
                                <div class="flex flex-row sm:flex-col justify-between items-start gap-2">
                                    <div class="flex flex-col gap-1 sm:gap-6">
                                        <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                                        <div class="hidden sm:flex">
                                            <Rating v-model="item.rating" readonly></Rating>
                                        </div>
                                        <div class="font-light text-surface-500 dark:text-surface-400 text-sm">
                                            <span>Stock : </span>
                                            <Badge :value="item.stock" severity="success"></Badge>
                                        </div>
                                        <div class="sm:hidden flex justify-start">
                                            <div class="text-base md:text-xl font-semibold">
                                                {{ moneyStore.formatPrice(cartStore.productTotalPrice(item)) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-row justify-between items-center gap-2">
                                    <div class="hidden sm:flex justify-center gap-8">
                                        <div class="text-base md:text-xl font-semibold">{{
                                            moneyStore.formatPrice(item.price) }}</div>
                                    </div>
                                    <div class="flex w-[50px]">
                                        <InputNumber v-model="item.quantity" :min="0" :max="item.stock" showButtons
                                            buttonLayout="vertical" :step="1" class="w-[50px]">
                                            <template #incrementicon>
                                                <span class="pi pi-plus" />
                                            </template>
                                            <template #decrementicon>
                                                <span class="pi pi-minus" />
                                            </template>
                                        </InputNumber>
                                    </div>
                                    <div class="hidden sm:flex justify-center gap-8">
                                        <div class="text-base md:text-xl font-semibold">{{
                                            moneyStore.formatPrice(cartStore.productTotalPrice(item)) }}</div>
                                    </div>
                                    <div class="flex md:hidden justify-end">
                                        <Button icon="pi pi-times" severity="danger"
                                            @click="cartStore.removeFromCart(item.id)" outlined></Button>
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <div class="w-full hidden md:flex justify-end">
                                        <Button label="Remove" icon="pi pi-times" severity="danger"
                                            @click="cartStore.removeFromCart(item.id)" outlined></Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template #empty>
                <div class="bg-surface-0 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20">
                    <div class="text-surface-700 dark:text-surface-100 text-center flex flex-col items-center gap-4">
                        <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl leading-tight">{{
                            t('cartEmpty')
                            }}</div>
                        <div class="text-surface-700 dark:text-surface-100 text-xl leading-normal">Visitez notre
                            boutique et découvrez nos produits faits pour vous !</div>
                        <Button @click="router.push({ name: 'shop' })" label="Allez sur la boutique"
                            icon="pi pi-shopping-bag" rounded class="mt-4" />
                    </div>
                </div>
            </template>
            <template #paginatorcontainer="slotProps: any">
                <div v-if="slotProps?.totalRecords > 0"
                    class="flex items-center gap-4 py-1 px-2 justify-between bg-white dark:bg-zinc-900/98 fixed bottom-0 left-0 right-0 z-10">
                    <Button icon="pi pi-chevron-left" rounded text @click="slotProps.prevPageCallback"
                        :disabled="slotProps.page === 0" />
                    <div class="text-color font-light text-sm sm:text-base">
                        <span class="hidden sm:block">{{ t('products') }} {{ slotProps.first }} {{ t('to') }} {{
                            slotProps.last }} {{
                                t('of') }}
                            {{ slotProps.totalRecords }}</span>
                        <span class="block sm:hidden">Page {{ slotProps.page + 1 }} {{ t('of') }} {{ slotProps.pageCount
                            }}</span>
                    </div>
                    <Button icon="pi pi-chevron-right" rounded text @click="slotProps.nextPageCallback"
                        :disabled="slotProps.page === slotProps.pageCount - 1" />
                </div>
            </template>
        </DataView>

        <div v-if="cartStore.cart.length > 0" class="flex justify-end">
            <Button label="Checkout" @click="router.push({ name: 'checkout' })" icon="pi pi-arrow-right"
                class="fixed bottom-4 right-4" iconPos="right"></Button>
        </div>

        <div class="bg-surface-50 dark:bg-surface-950 px-1 pb-14 md:px-12 lg:px-20">
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-1 lg:gap-4">
                <div class="bg-surface-0 dark:bg-surface-900 p-1 lg:p-4 rounded-border">
                    <Card class="border border-zinc-200 dark:border-zinc-600">
                        <template #title>
                            <div class="flex items-center justify-between">
                                <span>Subtotal</span>
                                <div
                                    class="sm:hidden flex items-center justify-center bg-blue-100 dark:bg-blue-400/30 w-10 h-10">
                                    <i class="pi pi-euro text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                        <template #content>
                            <div class="flex items-center justify-between">
                                <div class="flex flex-col gap-2">
                                    <div class="text-surface-900 dark:text-surface-0 font-medium !text-xl">
                                        {{ moneyStore.formatPrice(cartStore.subtotalPrice) }}
                                    </div>
                                    <div>
                                        <span class="text-green-500 font-medium">{{ cartStore.totalItems }}</span>
                                        <span class="text-surface-500 dark:text-surface-300 ml-2">
                                            {{ cartStore.totalItems > 1 ? 'products' : 'product' }}
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="hidden sm:flex items-center justify-center bg-blue-100 dark:bg-blue-400/30 w-20 h-20">
                                    <i class="pi pi-euro text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
                <div class="bg-surface-0 dark:bg-surface-900 p-1 lg:p-4 rounded-border">
                    <Card class="border border-zinc-200 dark:border-zinc-600">
                        <template #title>
                            <div class="flex items-center justify-between">
                                <span>VAT</span>
                                <div
                                    class="sm:hidden flex items-center justify-center bg-orange-100 dark:bg-orange-400/30 w-10 h-10">
                                    <i class="pi pi-percentage text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                        <template #content>
                            <div class="flex items-center justify-between">
                                <div class="flex flex-col gap-2">
                                    <div class="text-surface-900 dark:text-surface-0 font-medium !text-xl">
                                        {{ moneyStore.formatPrice(cartStore.taxAmount) }}
                                    </div>
                                    <div class="text-green-500 font-medium">
                                        {{ cartStore.toPercentage(cartStore.vat, 2) }}
                                    </div>
                                </div>
                                <div
                                    class="hidden sm:flex items-center justify-center bg-orange-100 dark:bg-orange-400/30 w-20 h-20">
                                    <i class="pi pi-percentage text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
                <div class="bg-surface-0 dark:bg-surface-900 p-1 lg:p-4 rounded-border">
                    <Card class="border border-zinc-200 dark:border-zinc-600">
                        <template #title>
                            <div class="flex items-center justify-between">
                                <span>Delivery</span>
                                <div
                                    class="sm:hidden flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/30 w-10 h-10">
                                    <i class="pi pi-truck text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                        <template #content>
                            <div class="flex items-center justify-between">
                                <div class="flex flex-col gap-2">
                                    <div class="text-surface-900 dark:text-surface-0 font-medium !text-xl">
                                        {{ moneyStore.formatPrice(shippingStore.shippingCost) }}
                                    </div>
                                    <span class="text-green-500 font-medium" v-if="shippingStore.selectedOption">
                                        {{ shippingStore.selectedOption.name }}
                                    </span>
                                    <span class="text-green-500 font-medium" v-else>
                                        Livraison standard
                                    </span>
                                    <span class="text-xs text-gray-500 italic">
                                        Ajoutée lors du paiement via Stripe
                                    </span>
                                </div>
                                <div
                                    class="hidden sm:flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/30 w-20 h-20">
                                    <i class="pi pi-truck text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
                <div class="bg-surface-0 dark:bg-surface-900 p-1 lg:p-4 rounded-border">
                    <Card class="border border-zinc-200 dark:border-zinc-600">
                        <template #title>
                            <div class="flex items-center justify-between">
                                <span>Total</span>
                                <div
                                    class="sm:hidden flex items-center justify-center bg-purple-100 dark:bg-purple-400/30 w-10 h-10">
                                    <i class="pi pi-credit-card text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                        <template #content>
                            <div class="flex items-center justify-between">
                                <div class="flex flex-col gap-2">
                                    <div class="text-surface-900 dark:text-surface-0 font-medium !text-xl">
                                        {{ moneyStore.formatPrice(cartStore.totalPrice) }}</div>
                                    <span class="text-green-500 font-medium">Hors livraison</span>
                                    <span class="text-xs text-gray-500 italic">
                                        Les frais de livraison seront ajoutés lors du paiement
                                    </span>
                                </div>
                                <div
                                    class="hidden sm:flex items-center justify-center bg-purple-100 dark:bg-purple-400/30 w-20 h-20">
                                    <i class="pi pi-credit-card text-white !text-xl" />
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.template-list {
    --p-paginator-padding: 0 !important;
    --p-dataview-paginator-bottom-border-width: 0 !important;
    --p-dataview-content-background: transparent !important;
}
</style>