<script setup lang="ts">
import { computed, ref, watch, onMounted } from 'vue';
import ProductView from './ProductView.vue';
import { useI18n } from 'vue-i18n';
import ImageWithFallback from '@/components/ImageWithFallback.vue';
import { useRouter } from 'vue-router';
const { t } = useI18n();

interface SearchEvent {
    query: string;
    [key: string]: any;
}

// Stores
import { useProductStore } from '@/stores/products';
import { useMoneyStore } from '@/stores/money';
import { useCartStore } from '@/stores/cart';
import { useFavoriteStore } from '@/stores/favorites';
import { useDialog } from 'primevue/usedialog';
import { useToastService } from '@/services/toast.service';
import { Product } from '@/models/product.model';

const productStore = useProductStore();
const moneyStore = useMoneyStore();
const cartStore = useCartStore();
const favoriteStore = useFavoriteStore();
const toastService = useToastService();
const dialog = useDialog();
const router = useRouter();

const columns = ref(4);
const productsPerPage = ref(12);
const dataSource = ref<Product[]>([]);
const products = ref<Product[]>([]);

// Charger les produits au montage du composant
onMounted(async () => {
    try {
        const fetchedProducts = await productStore.gets();
        products.value = fetchedProducts;
        dataSource.value = fetchedProducts;
    } catch (error) {
        console.error('Erreur lors du chargement des produits:', error);
    }
});

const getSeverity = (product: Product): 'success' | 'warn' | 'danger' | undefined => {
    switch (product.status) {
        case 'new':
            return 'success';

        case 'onsale':
            return 'warn';

        case 'soldout':
            return 'danger';

        default:
            return undefined;
    }
}

// Calculer dynamiquement le nombre de colonnes visibles
const calculateColumns = () => {
    const width = window.innerWidth;

    if (width >= 1536) {
        columns.value = 4; // Extra large screens
    } else if (width >= 1024) {
        columns.value = 3; // Desktop
    } else if (width >= 640) {
        columns.value = 2; // Small devices
    } else {
        columns.value = 1; // Mobile
    }

    // Ajuster le nombre de produits chargés par page (multiple de colonnes)
    productsPerPage.value = columns.value * 3; // Chargez toujours un multiple de 4 lignes
};

const showProduct = (product: Product) => {
    try {
        router.push({ name: 'product-details', params: { id: product.id } });
    } catch (error) {
        console.error("Erreur lors de la navigation vers le produit :", error);
    }
}

const selectedData = ref<Product | null>(null);
const filteredDatas = ref<Product[]>([]);

const search = (event: SearchEvent) => {
    const query = event.query.trim().toLowerCase();

    if (!query.length) {
        filteredDatas.value = [...dataSource.value];
    } else {
        filteredDatas.value = dataSource.value.filter((data) => {
            // Vérifie si au moins un des filtres est actif
            const isFilterActive = checkedName.value || checkedDetails.value || checkedStatus.value;

            return (
                (checkedName.value && data?.name?.toLowerCase().includes(query)) ||
                (checkedDetails.value && data?.description?.toLowerCase().includes(query)) ||
                (checkedStatus.value && data.status?.toLowerCase().includes(query)) ||
                (!isFilterActive && (
                    data?.name?.toLowerCase().includes(query) ||
                    data?.description?.toLowerCase().includes(query) ||
                    data.status?.toLowerCase().includes(query)
                ))
            );
        });
    }
};

const isFiltersVisible = ref(false);
const isAutoCompleteVisible = ref(false);
const op = ref();
const checkedName = ref(false);
const checkedDetails = ref(false);
const checkedStatus = ref(false);

const toggle = (event: Event) => {
    op.value.toggle(event);
}

const showError = () => {
    toastService.add({ severity: 'error', summary: 'Error Message', detail: 'This product is out of stock', life: 3000 });
};

const handleAddToCart = (item: Product) => {
    if (item.status === 'soldout') {
        showError();
    } else {
        cartStore.addToCart(item);
    }
};

const toggleFavorite = (item: Product) => {
    if (item.id) {
        if (favoriteStore.isFavorite(item.id)) {
            favoriteStore.removeFavorite(item.id);
            toastService.add({ severity: 'info', summary: 'Favori retiré', detail: `${item.name} a été retiré des favoris`, life: 3000 });
        } else {
            favoriteStore.addFavorite(item.id);
            toastService.add({ severity: 'success', summary: 'Favori ajouté', detail: `${item.name} a été ajouté aux favoris`, life: 3000 });
        }
    }
};

calculateColumns();
</script>

<template>
    <div>
        <div class="flex items-center gap-x-4 mx-2">
            <Button type="button" icon="pi pi-filter-slash" label="Filter" @click="toggle" outlined class="" />

            <Popover ref="op">
                <div class="flex flex-col gap-4">
                    <div>Filter by :</div>
                    <div class="flex items-center justify-between gap-x-4">
                        <span>Name</span>
                        <ToggleButton v-model="checkedName" onLabel="On" offLabel="Off" onIcon="pi pi-check"
                            offIcon="pi pi-times" aria-label="Do you confirm" />
                    </div>
                    <div class="flex items-center justify-between gap-x-4">
                        <span>Description</span>
                        <ToggleButton v-model="checkedDetails" onLabel="On" offLabel="Off" onIcon="pi pi-check"
                            offIcon="pi pi-times" aria-label="Do you confirm" />
                    </div>
                    <div class="flex items-center justify-between gap-x-4">
                        <span>Status</span>
                        <ToggleButton v-model="checkedStatus" onLabel="On" offLabel="Off" onIcon="pi pi-check"
                            offIcon="pi pi-times" aria-label="Do you confirm" />
                    </div>
                </div>
            </Popover>

            <AutoComplete v-model="selectedData" optionLabel="name" :suggestions="filteredDatas" @complete="search"
                :delay="500" placeholder="Search..." inputClass="w-full" class="w-full my-6" scrollHeight="30rem"
                @show="isAutoCompleteVisible = true" @hide="isAutoCompleteVisible = false">
                <template #option="slotProps">
                    <div class="flex items-center gap-x-4 w-full">
                        <div class="bg-surface-50 flex justify-center rounded">
                            <ImageWithFallback class="rounded w-20" :src="slotProps.option?.images[0]?.itemImageSrc"
                                :alt="slotProps.option?.name" style="max-height: 300px" />
                        </div>
                        <div class="grid nd:grid-cols-2 grid-cols-1 gap-x-4 w-full">
                            <div>
                                <div class="flex items-center gap-x-4">
                                    <div>{{ slotProps.option.name }}</div>
                                    <Tag v-if="slotProps.option?.status" :value="slotProps.option?.status"
                                        :severity="getSeverity(slotProps.option)" class="text-xs"></Tag>
                                </div>
                                <div>
                                    <span class="text-surface-500 dark:text-surface-400 text-xs font-light truncate">{{
                                        slotProps.option?.description }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex flex-col items-end justify-center gap-y-4">
                                    <Rating v-model="slotProps.option.rating" readonly></Rating>
                                    <div class="flex items-center gap-x-2">
                                        <div class="text-surface-500 dark:text-surface-400 text-base font-light">
                                            {{ moneyStore.formatPrice(slotProps.option?.price) }}
                                        </div>
                                        <Button label="Details" icon="pi pi-search" outlined
                                            @click="showProduct(slotProps.option)" size="small"></Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </AutoComplete>
        </div>
        <DataView :value="products" layout="grid" paginator :rows="productsPerPage" dataKey="id" class="template-grid">
            <template #grid="slotProps">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-1 mb-14">
                    <div v-for="(item, index) in slotProps.items" :key="item.id" class="p-2">
                        <div
                            class="p-6 border border-zinc-200 dark:border-zinc-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col h-full">
                            <div class="bg-surface-50 flex justify-center rounded">
                                <div class="relative mx-auto">
                                    <ImageWithFallback class="rounded w-full" :src="item?.images[0]?.itemImageSrc"
                                        :alt="item?.name" style="max-height: 300px" />
                                    <div class="absolute rounded" style="left: 4px; top: 4px">
                                        <Tag v-if="item?.status" :value="item?.status" :severity="getSeverity(item)">
                                        </Tag>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 flex flex-col flex-grow">
                                <div class="flex flex-row justify-between items-start gap-2">
                                    <div>
                                        <div class="text-lg font-medium mt-1">{{ item?.name }}</div>
                                        <span
                                            class="font-medium text-surface-500 dark:text-surface-400 text-sm line-clamp-2">{{
                                                item?.description }}</span>
                                    </div>
                                    <div class="bg-surface-100 p-1" style="border-radius: 30px">
                                        <Rating v-model="item.rating" readonly />
                                    </div>
                                </div>
                                <div class="flex flex-col gap-6 mt-auto pt-6">
                                    <span class="text-2xl font-semibold">
                                        {{ moneyStore.formatPrice(item?.price) }}
                                    </span>
                                    <div class="flex gap-2">
                                        <Button icon="pi pi-shopping-cart" @click="handleAddToCart(item)"
                                            label="Buy Now" :disabled="item?.status === 'soldout'"
                                            class="flex-auto whitespace-nowrap"></Button>
                                        <Button icon="pi pi-search" outlined @click="showProduct(item)"></Button>
                                        <Button icon="pi pi-heart" outlined
                                            :class="{ 'p-button-danger': favoriteStore.isFavorite(item.id) }"
                                            @click="toggleFavorite(item)"></Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template #paginatorcontainer="slotProps: any">
                <div v-if="slotProps && slotProps.totalRecords > 0"
                    class="flex items-center gap-4 py-1 px-2 justify-between bg-white dark:bg-zinc-900/98 fixed bottom-0 left-0 right-0 z-10">
                    <Button icon="pi pi-chevron-left" rounded text @click="slotProps.prevPageCallback"
                        :disabled="slotProps.page === 0" />
                    <div class="text-color font-light text-sm sm:text-base">
                        <span class="hidden sm:block">{{ t('products') }} {{ slotProps.first }} {{ t('to') }} {{
                            slotProps.last }} {{
                                t('of') }}
                            {{ slotProps.totalRecords }}</span>
                        <span class="block sm:hidden">Page {{ slotProps.page + 1 }} {{ t('of') }} {{ slotProps.pageCount
                            }}</span>
                    </div>
                    <Button icon="pi pi-chevron-right" rounded text @click="slotProps.nextPageCallback"
                        :disabled="slotProps.page === slotProps.pageCount - 1" />
                </div>
            </template>
        </DataView>
        <DynamicDialog />
    </div>
</template>

<style scoped>
.template-grid {
    --p-paginator-padding: 0 !important;
    --p-dataview-paginator-bottom-border-width: 0 !important;
    --p-dataview-content-background: transparent !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
</style>