<script setup lang="ts">
import { ref } from 'vue';

// Stores

</script>

<template>
    <div>
        <div class="relative min-h-[40rem] lg:min-h-0 bg-surface-0 dark:bg-surface-900 flex lg:flex-row flex-col">
            <div class="flex lg:flex lg:flex-row flex-col justify-center md:justify-normal h-full flex-1">
                <div class="relative flex-1 z-20 flex items-center justify-center">
                    <div class="flex items-center justify-center h-full">
                        <div class="w-full max-w-2xl px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">
                            <h1
                                class="text-4xl xl:text-5xl font-bold text-surface-0 lg:text-surface-900 dark:text-surface-0 mb-6 !leading-tight">
                                <span class="block">Create the screens your</span>
                                <span class="block text-primary">visitors deserve to see</span>
                            </h1>
    
                            <p
                                class="text-surface-0/90 lg:text-surface-700 dark:text-surface-200 text-xl leading-normal mb-8 max-w-xl lg:max-w-none">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.
                            </p>
    
                            <div class="flex items-center gap-4 justify-center lg:justify-start">
                                <Button label="Learn More" type="button" />
                                <Button label="Live Demo" type="button" outlined />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="absolute lg:relative inset-0 lg:inset-auto flex-1">
                    <div class="absolute lg:hidden inset-0 bg-surface-900/60 dark:bg-surface-900/80 z-10" />
                    <img src="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/hero/hero-1.png"
                        alt="hero-1"
                        class="h-full w-full object-cover xl:[clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)]" />
                </div>
            </div>
        </div>
    
        <div class="bg-surface-0 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20">
            <div class="text-surface-700 dark:text-surface-100 text-center flex flex-col items-center gap-4">
                <div class="text-primary font-bold text-lg leading-tight"><i
                        class="pi pi-discord !text-lg !leading-none" />&nbsp;POWERED BY DISCORD</div>
                <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl leading-tight">Join our design community
                </div>
                <div class="text-surface-700 dark:text-surface-100 text-xl leading-normal">Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. Velit numquam eligendi quos.</div>
                <Button label="Join Now" icon="pi pi-discord" rounded class="mt-4" />
            </div>
        </div>
    
        <div class="bg-surface-0 dark:bg-surface-950 px-6 md:px-12 lg:px-20 py-20 text-center">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col items-center gap-4">
                    <div class="font-bold text-3xl leading-tight">
                        <span class="text-surface-900 dark:text-surface-0">One Product, </span>
                        <span class="text-primary-500 dark:text-primary-400">Many Solutions</span>
                    </div>
                    <div class="text-surface-500 dark:text-surface-400 leading-tight">Ac turpis egestas maecenas pharetra
                        convallis posuere morbi leo urna.</div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-desktop !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Built for
                                Developers</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-lock !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">End-to-End
                                Encryption</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Risus nec feugiat in fermentum
                                posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-face-smile !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Easy to Use
                            </div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Ornare suspendisse sed nisi
                                lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-globe !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Fast &
                                Global Support</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Fermentum et sollicitudin ac
                                orci phasellus egestas tellus rutrum tellus.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-github !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Open Source
                            </div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Nec tincidunt praesent semper
                                feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span
                            class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-shield !text-2xl lg:!text-3xl text-primary-500 dark:text-primary-400" />
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Trusted
                                Security</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Mattis rhoncus urna neque
                                viverra justo nec ultrices. Id cursus metus aliquam eleifend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>