<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
    icon: {
        type: String,
        default: 'pi pi-bell'
    },
    badge: {
        type: Number,
        default: null
    },
    severityBadge: {
        type: String as () => 'primary' | 'secondary' | 'success' | 'danger' | 'warn' | 'info' | 'contrast',
        default: 'primary'
    },
    severityButton: {
        type: String as () => 'primary' | 'secondary' | 'success' | 'danger' | 'warn' | 'info' | 'contrast',
        default: 'primary'
    }
});

const icon = computed(() => props.icon);
const badge = computed(() => props.badge);
const severityBadge = computed(() => props.severityBadge);
const severityButton = computed(() => props.severityButton);

</script>

<template>
    <div class="relative">
        <Button :icon="icon" class="ml-2" variant="text" :severity="severityButton" outlined></Button>
        <Badge :value="badge" class="absolute top-1 right-0 w-2 h-2" :severity="severityBadge" style="min-width: 15px; height: 15px; font-size: x-small;"></Badge>
    </div>
</template>