<script setup lang="ts">
import { useDarkMode } from '@/stores/darkmode';
const { isDarkMode, toggleDarkMode } = useDarkMode();

</script>

<template>
    <Button @click="toggleDarkMode" :icon="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'" :severity="isDarkMode ? 'warn' : 'info'"></Button>
</template>
