<script setup lang="ts">
import { useRouter } from 'vue-router';
import { ref, onMounted, watch } from 'vue';
import { useFavoriteStore } from '@/stores/favorites';
import { useMoneyStore } from '@/stores/money';
import { Product } from '@/models/product.model';
import { ProductService } from '@/services/product.service';

const router = useRouter();
const favoriteStore = useFavoriteStore();
const moneyStore = useMoneyStore();
const productService = new ProductService();
const favoriteProducts = ref<Product[]>([]);
const loading = ref(true);

const navigateToProduct = (productId: number) => {
    router.push({ name: 'product-details', params: { id: productId } });
};

// Charger les produits favoris
const loadFavoriteProducts = async () => {
    loading.value = true;
    try {
        // Récupérer tous les produits favoris par leur ID
        const productPromises = favoriteStore.favorites.map(id =>
            productService.getProduct(id).catch(() => null)
        );

        const products = await Promise.all(productPromises);
        // Filtrer les produits null (en cas d'erreur)
        favoriteProducts.value = products.filter(p => p !== null) as Product[];
    } catch (error) {
        console.error('Erreur lors du chargement des produits favoris:', error);
    } finally {
        loading.value = false;
    }
};

// Vider tous les favoris
const clearAllFavorites = () => {
    favoriteStore.favorites.forEach(id => {
        favoriteStore.removeFavorite(id);
    });
};

// Charger les produits au montage du composant
onMounted(loadFavoriteProducts);

// Surveiller les changements dans la liste des favoris
watch(() => favoriteStore.favorites, loadFavoriteProducts, { deep: true });
</script>

<template>
    <div class="favorites-container w-[320px] max-h-[400px] overflow-y-auto">
        <div
            class="sticky top-0 z-10 surface-card p-4 border-b border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-900">
            <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold">Favoris</h3>
                <div class="flex">
                    <Button icon="pi pi-trash" @click="($event) => { $event.stopPropagation(); clearAllFavorites(); }"
                        severity="danger" text size="small" v-tooltip.bottom="'Effacer tout'" />
                </div>
            </div>
        </div>

        <div v-if="loading" class="p-4 text-center">
            <i class="pi pi-spin pi-spinner text-xl"></i>
            <p class="mt-2 text-surface-600">Chargement des favoris...</p>
        </div>

        <div v-else-if="favoriteStore.favorites.length === 0" class="p-4 text-center text-surface-600">
            Aucun favori
        </div>

        <div v-else-if="favoriteProducts.length === 0" class="p-4 text-center text-surface-600">
            Impossible de charger les favoris
        </div>

        <div v-else class="divide-y divide-surface-200">
            <div v-for="product in favoriteProducts" :key="product.id"
                @click="($event) => { $event.stopPropagation(); navigateToProduct(product.id as number); }"
                class="p-4 hover:bg-zinc-50 dark:hover:bg-zinc-800 cursor-pointer">
                <div class="flex items-start gap-3">
                    <div class="flex-shrink-0">
                        <img v-if="product.images && product.images.length > 0"
                            :src="(product.images[0] as any).itemImageSrc" :alt="product.name"
                            class="w-16 h-16 object-cover rounded" />
                        <div v-else class="w-16 h-16 bg-surface-200 rounded flex items-center justify-center">
                            <i class="pi pi-image text-surface-400"></i>
                        </div>
                    </div>
                    <div class="flex-1 min-w-0">
                        <div class="flex items-start justify-between">
                            <p class="text-sm font-medium text-surface-900 dark:text-surface-0">
                                {{ product.name }}
                            </p>
                            <Button icon="pi pi-times"
                                @click="($event) => { $event.stopPropagation(); favoriteStore.removeFavorite(product.id as number); }"
                                text size="small" severity="danger" />
                        </div>
                        <p class="text-sm text-surface-600 dark:text-surface-400 mt-1">
                            {{ moneyStore.formatPrice(product.price) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.favorites-container {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-400) transparent;
}

.favorites-container::-webkit-scrollbar {
    width: 4px;
}

.favorites-container::-webkit-scrollbar-track {
    background: transparent;
}

.favorites-container::-webkit-scrollbar-thumb {
    background-color: var(--surface-400);
    border-radius: 2px;
}
</style>