<script setup lang="ts">
import { ref, watch } from 'vue';
import { usePlaceholderService } from '@/services/placeholder.service';

// Utiliser un nom différent pour éviter le conflit avec le mot-clé 'class'
const props = defineProps<{
    src: string;
    alt: string;
    className?: string;
    style?: string | Record<string, string>;
}>();

// Obtenir le service de placeholder
const placeholderService = usePlaceholderService();

// Générer l'image placeholder
const placeholderImage = placeholderService.generateImage({
    width: 600,
    height: 600,
    text: "Image non trouvée",
    fontSize: 18
});

// État pour suivre si l'image a échoué à charger
const imgSrc = ref(props.src);

// Surveiller les changements de la source d'image
watch(() => props.src, (newSrc) => {
    if (newSrc) {
        imgSrc.value = newSrc;
    }
}, { immediate: true });

// Fonction appelée lorsque l'image ne peut pas être chargée
const handleError = () => {
    imgSrc.value = placeholderImage;
};
</script>

<template>
    <img :src="imgSrc" :alt="alt" @error="handleError" v-bind:class="$props.className" :style="style" />
</template>