<script setup lang="ts">
import { ref, watch, computed } from 'vue';
import { useUserStore } from '@/stores/user';

interface PasswordValidationResult {
    isValid: boolean;
    errors: string[];
}

const props = defineProps({
    modelValue: {
        type: String,
        default: ''
    },
    id: {
        type: String,
        default: 'password'
    },
    placeholder: {
        type: String,
        default: ''
    },
    required: {
        type: Boolean,
        default: false
    },
    feedback: {
        type: Boolean,
        default: true
    },
    toggleMask: {
        type: Boolean,
        default: true
    },
    disabled: {
        type: Boolean,
        default: false
    },
    invalid: {
        type: Boolean,
        default: false
    },
    showValidationList: {
        type: Boolean,
        default: true
    }
});

const emit = defineEmits<{
    'update:modelValue': [value: string];
    'validation-change': [validation: PasswordValidationResult];
}>();

const userStore = useUserStore();
const passwordValidation = ref<string[]>([]);
const isValid = ref(false);

// Calcul du score du mot de passe
const passwordStrength = computed(() => {
    if (!props.modelValue) return 0;

    let score = 0;
    const maxScore = 5; // Nombre total de critères

    // Longueur minimale (12 caractères)
    if (props.modelValue.length >= 12) score++;

    // Présence de minuscules
    if (/[a-z]/.test(props.modelValue)) score++;

    // Présence de majuscules
    if (/[A-Z]/.test(props.modelValue)) score++;

    // Présence de chiffres
    if (/[0-9]/.test(props.modelValue)) score++;

    // Présence de caractères spéciaux
    if (/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(props.modelValue)) score++;

    return (score / maxScore) * 100;
});

// Message de force du mot de passe
const strengthLabel = computed(() => {
    const strength = passwordStrength.value;
    if (strength === 0) return '';
    if (strength <= 20) return 'Très faible';
    if (strength <= 40) return 'Faible';
    if (strength <= 60) return 'Moyen';
    if (strength <= 80) return 'Fort';
    return 'Très fort';
});

// Couleur du meter
const strengthClass = computed(() => {
    const strength = passwordStrength.value;
    if (strength <= 20) return 'p-password-weak';
    if (strength <= 40) return 'p-password-weak';
    if (strength <= 60) return 'p-password-medium';
    if (strength <= 80) return 'p-password-strong';
    return 'p-password-strong';
});

// Vérifie si le mot de passe contient des erreurs
const hasPasswordErrors = computed(() => {
    return passwordValidation.value.some(message => message.startsWith('✗'));
});

// Classe CSS pour l'input
const inputClass = computed(() => {
    return {
        'p-invalid': props.invalid || hasPasswordErrors.value,
        'w-full': true
    };
});

// Mise à jour du mot de passe
const updateValue = (event: Event) => {
    const target = event.target as HTMLInputElement;
    emit('update:modelValue', target.value);
};

// Surveiller les changements du mot de passe pour la validation
watch(() => props.modelValue, async (newPassword) => {
    if (newPassword) {
        const validation = await userStore.validatePassword(newPassword);
        passwordValidation.value = validation.errors;
        isValid.value = validation.isValid;
        emit('validation-change', { isValid: validation.isValid, errors: validation.errors });
    } else {
        passwordValidation.value = [];
        isValid.value = false;
        emit('validation-change', { isValid: false, errors: [] });
    }
}, { immediate: true });
</script>

<template>
    <div class="p-float-label mb-4">
        <Password :id="id" :value="modelValue" @input="updateValue" :toggleMask="toggleMask" :feedback="feedback"
            :meter="feedback" :meterLabel="strengthLabel" :class="strengthClass" inputClass="w-full"
            :disabled="disabled" :required="required" :placeholder="placeholder"
            :mediumRegex="/^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{10,})/"
            :strongRegex="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()_+\-=[\]{};:,.<>/?])(?=.{12,})/">
            <template #footer>
                <div v-if="passwordValidation.length > 0">
                    <Divider />
                    <p class="mt-2 text-sm text-surface-600">Le mot de passe doit contenir :</p>
                    <ul class="mt-1 text-xs space-y-1">
                        <li v-for="error in passwordValidation" :key="error"
                            :class="error.includes('✓') ? 'text-green-500' : 'text-red-500'">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </template>
        </Password>
    </div>
</template>

<style scoped>
:deep(.p-password-meter) {
    margin-top: 0.5rem;
}

:deep(.p-password-weak .p-password-meter) {
    background: var(--red-500);
}

:deep(.p-password-medium .p-password-meter) {
    background: var(--yellow-500);
}

:deep(.p-password-strong .p-password-meter) {
    background: var(--green-500);
}

:deep(.p-invalid) {
    border-color: var(--red-500) !important;
}

:deep(.p-password) {
    width: 100%;
}

:deep(.p-password-input) {
    width: 100%;
}
</style>