<script setup lang="ts">
import { useNotificationStore } from '@/stores/notifications';

const notificationStore = useNotificationStore();

const getIcon = (severity: string) => {
    switch (severity) {
        case 'success':
            return 'pi pi-check-circle text-green-500';
        case 'info':
            return 'pi pi-info-circle text-blue-500';
        case 'warn':
            return 'pi pi-exclamation-triangle text-yellow-500';
        case 'error':
            return 'pi pi-times-circle text-red-500';
        default:
            return 'pi pi-info-circle text-gray-500';
    }
};

const getSeverityColor = (severity: string) => {
    switch (severity) {
        case 'success':
            return 'var(--green-500)';
        case 'info':
            return 'var(--blue-500)';
        case 'warn':
            return 'var(--yellow-500)';
        case 'error':
            return 'var(--red-500)';
        default:
            return 'var(--gray-500)';
    }
};

const formatDate = (date: Date) => {
    return new Intl.RelativeTimeFormat('fr', { numeric: 'auto' }).format(
        Math.floor((date.getTime() - Date.now()) / (1000 * 60)),
        'minute'
    );
};
</script>

<template>
    <div class="notifications-container w-[320px] max-h-[400px] overflow-y-auto">
        <div
            class="sticky top-0 z-10 surface-card p-4 border-b border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-900">
            <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold">Notifications</h3>
                <div class="flex">
                    <Button icon="pi pi-check"
                        @click="($event) => { $event.stopPropagation(); notificationStore.markAllAsRead(); }"
                        severity="secondary" text size="small" v-tooltip.bottom="'Marquer tout comme lu'" />
                    <Button icon="pi pi-trash"
                        @click="($event) => { $event.stopPropagation(); notificationStore.clearAll(); }"
                        severity="danger" text size="small" v-tooltip.bottom="'Effacer tout'" />
                </div>
            </div>
        </div>

        <div v-if="notificationStore.notifications.length === 0" class="p-4 text-center text-surface-600">
            Aucune notification
        </div>

        <div v-else class="divide-y divide-surface-200">
            <div v-for="notification in notificationStore.notifications" :key="notification.id"
                @click="($event) => { $event.stopPropagation(); notificationStore.markAsRead(notification.id); }"
                class="p-4 hover:bg-zinc-50 dark:hover:bg-zinc-800 cursor-pointer"
                :class="{ 'bg-green-900/20': !notification.read }">
                <div class="flex items-start gap-3">
                    <div class="flex-shrink-0 mt-1">
                        <i :class="getIcon(notification.severity)"
                            :style="{ color: getSeverityColor(notification.severity) }" />
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-surface-900 dark:text-surface-0">
                            {{ notification.summary }}
                        </p>
                        <p class="text-sm text-surface-600 dark:text-surface-400">
                            {{ notification.message }}
                        </p>
                        <p class="text-xs text-surface-500 mt-1">
                            {{ formatDate(notification.timestamp) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.notifications-container {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-400) transparent;
}

.notifications-container::-webkit-scrollbar {
    width: 4px;
}

.notifications-container::-webkit-scrollbar-track {
    background: transparent;
}

.notifications-container::-webkit-scrollbar-thumb {
    background-color: var(--surface-400);
    border-radius: 2px;
}
</style>